@import '/src/styles/variables';
@import '/src/styles/mixins';
.back-link {
    img{
        transform: rotateZ(90deg);
    }
}
.expandable-container{
    height: 2rem;
    overflow: hidden;
    border: 1px solid $primary-color;
    border-right: 0;
    border-left: 0;
    transition: height 0.5s;

    .title{
        height: 2rem;
        width: 100%;
        padding: 0.5rem;
        background-color: #EEEEEE;
        box-sizing: border-box;
        img{
          @include filter(invert(42%) sepia(17%) saturate(2473%) hue-rotate(101deg) brightness(91%) contrast(73%));
            transition: transform 0.25s;
        }
    }
    .description{
        padding: 0.5rem;
    }
    &.opened{
        height: 200px;
        .title img{
            transform:  rotate(180deg);
        }
    }
}