<div class="parent">
  <div class="x-container">
    <h1 #title>BMI Calcolator</h1>
    
    <div class="container " #content>
      <div class="calcolator-container w-100p">
          <div class="form-container">
            <div class="options f-row">
              <button class="btn-theme" aria-label="Switch to US units" [class.selected]="isUSType" (click)="setUnitType(true)">US units</button>
              <button class="btn-theme" aria-label="Switch to Metric units" [class.selected]="!isUSType" (click)="setUnitType(false)">Metric units</button>
            </div>
            <form class="f-col form-content" [formGroup]="bmiForm" (ngSubmit)="calculateBMI()" *ngIf="!isUSType">
              <label class="f-col">
                <div class="label">Height (in centimetre):</div>
                <input type="number" [(ngModel)]="avgHeight" min="1" formControlName="height"
                  placeholder="your Height..." aria-label="Your Height value">
              </label>
              <label class="f-col">
                <div class="label">Weight (in kilograms):</div>
                <input type="number" [(ngModel)]="avgWeight" min="1" formControlName="weight"
                  placeholder="your Weight..." aria-label="Weight value value">
              </label>
              <button type="submit" aria-label="Calcolate BMI" class="submit-button" [disabled]="!bmiForm.valid">Calculate</button>
            </form>

            <form class="f-col form-content" [formGroup]="bmiForm" (ngSubmit)="calculateBMI_US()" *ngIf="isUSType">
              <div class="us-height f-row">
                <label class="f-col">
                  <div class="label">Feet:</div>
                  <input type="number" [(ngModel)]="avgHeightFeet" min="1" formControlName="heightFeet"
                    placeholder="your Feet Height..." aria-label="Your Height value">
                </label>
                <label class="f-col">
                  <div class="label">Inches:</div>
                  <input type="number" [(ngModel)]="avgHeightInch" min="0" formControlName="heightInch"
                    placeholder="your Inches Height..." aria-label="Your Height value">
                </label>
              </div>
              <label class="f-col">
                <div class="label">Weight (in Pounds):</div>
                <input type="number" [(ngModel)]="avgWeightPound" min="1" formControlName="weightPound"
                  placeholder="your Weight..." aria-label="Weight value value">
              </label>
              <button type="submit" class="submit-button" aria-label="Calcolate BMI" [disabled]="!bmiForm.valid">Calculate</button>
            </form>

          </div>
          <div class="result f-col j-between a-center">
            <ng-container [ngTemplateOutlet]="bmi_chart"></ng-container>
            <div class="score w-100p {{bmiResult.status}}">
              <span class="f-row j-center">
                BMI = {{bmiResult.bmi}} kg/m2
              </span>

              <section class="info-calcolator w-100p">
                <h2>Understanding Your BMI</h2>
                <p><strong>Healthy BMI range:</strong> 18.5 kg/m² - 25 kg/m²</p>
                <p><strong>Healthy weight for the height:</strong> 59.9 kgs - 81.0 kgs</p>
                <p><strong>BMI Prime:</strong> 0.8</p>
                <p><strong>Ponderal Index:</strong> 11.1 kg/m³</p>
              </section>

            </div>
            <div></div>
          </div>
        </div>
      </div>
  </div>
  <div class="container info">
    <app-conent-card>

      <h2>What is BMI?</h2>

      <p>Body Mass Index (BMI) is a numerical cost that represents a person's weight in terms of their height. It is
        a widely used indicator of whether someone has a healthful body weight, is underweight, overweight, or overweight.</p>

      <p>BMI is calculated by using dividing a person's weight in kilograms by way of the rectangular in their height in meters. The
        end result is various expressed in units of kg/m², which gives a standardized manner to assess an man or woman's
        weight repute.</p>

      <p>It is critical to observe that BMI is a trendy screening tool and does now not take into account elements which includes
        muscle tissues, bone density, and distribution of weight. Therefore, even as BMI is a beneficial device for assessing
        population trends and general fitness, it can not provide a entire photo of an character's health and ought to
        be interpreted alongside other health exams.</p>

      <p>BMI is typically categorised into special tiers, which includes underweight, regular weight, obese, and obesity,
        to assist people and healthcare experts determine whether or not someone's weight falls inside a wholesome variety
        for their height.</p>
    </app-conent-card>

    <app-conent-card>

      <h2>BMI Calculation</h2>

      <p>Body Mass Index (BMI) is calculated the usage of a easy formulation that takes into consideration an individual's weight and
        peak. The components is as follows:</p>

      <p>BMI = Weight (in kilograms) / (Height (in meters) × Height (in meters))</p>

      <p>Here's a step-via-step breakdown of the way to calculate BMI:</p>

      <ol>
        <li>Measure your weight in kilograms (kg).</li>
        <li>Measure your top in meters (m).</li>
        <li>Square your height with the aid of multiplying it via itself (Height × Height).</li>
        <li>Divide your weight by using the squared top (Weight / (Height × Height)).</li>
        <li>The result is your BMI, expressed in gadgets of kg/m².</li>
      </ol>

      <p>For example, if someone weighs 70 kilograms and has a peak of one.Seventy five meters:</p>

      <ol>
        <li>Weight = 70 kg</li>
        <li>Height = 1.Seventy five m</li>
        <li>Height × Height = 1.Seventy five m × 1.Seventy five m = three.06 m²</li>
        <li>BMI = 70 kg / 3.06 m² ≈ 22.83 kg/m²</li>
      </ol>

      <p>This calculated price represents the character's BMI, that is used to assess their weight status and
        decide whether or not it falls in the wholesome BMI range or different classes such as underweight, obese, or
        overweight.</p>

    </app-conent-card>

    <app-conent-card>
      <h2>BMI Categories</h2>

      <p>Body Mass Index (BMI) is split into extraordinary classes primarily based on the calculated BMI cost. These classes
        assist assess an person's weight popularity and provide a wellknown indication in their fitness. The commonly used
        BMI classes are as follows:</p>

      <ol>
        <li><strong>Underweight:</strong> BMI less than 18.Five kg/m²</li>
        <li><strong>Normal Weight:</strong> BMI between 18.Five kg/m² and 24.9 kg/m²</li>
        <li><strong>Overweight:</strong> BMI between 25 kg/m² and 29.9 kg/m²</li>
        <li><strong>Obesity (Class I):</strong> BMI among 30 kg/m² and 34.Nine kg/m²</li>
        <li><strong>Obesity (Class II):</strong> BMI between 35 kg/m² and 39.Nine kg/m²</li>
        <li><strong>Obesity (Class III - Morbid Obesity):</strong> BMI 40 kg/m² or extra</li>
      </ol>

      <p>These categories offer a general tenet for assessing whether or not an man or woman's weight falls inside a
        wholesome variety for his or her height. However, it is vital to bear in mind that BMI has boundaries and would not account
        for factors consisting of muscle tissues, bone density, and standard body composition.</p>

      <p>Individuals falling into the "Normal Weight" class commonly have a decrease risk of weight-related health
        issues. Those in the "Underweight" category may additionally want to seek advice from a healthcare expert, as it could imply
        fitness issues, while the ones inside the "Overweight" or "Obese" classes may be at better chance for numerous health
        situations and must take into account way of life changes and scientific steering.</p>

      <p>It's critical to interpret BMI alongside different fitness tests and consult a healthcare provider for
        customized advice on weight and health management.</p>


    </app-conent-card>

    <app-conent-card>
      <h2>Healthy BMI Range</h2>

      <p>The Healthy Body Mass Index (BMI) variety is a particular range of BMI values that are associated with a healthy
        weight and decreased risk of weight-related health issues. This variety is generally used as a guiding principle to
        determine whether an man or woman's weight falls inside a healthy variety for their top.</p>

      <p>The Healthy BMI Range is typically defined as follows:</p>

      <ul>
        <li><strong>Lower Limit:</strong> 18.Five kg/m²</li>
        <li><strong>Upper Limit:</strong> 25 kg/m²</li>
      </ul>

      <p>Here's what those limits suggest:</p>

      <ul>
        <li>If your BMI is <strong>much less than 18.5 kg/m²</strong>, you will be labeled as
          <strong>underweight</strong>, that can imply a want for expanded dietary consumption and scientific
          attention.</li>
        <li>If your BMI falls <strong>between 18.5 kg/m² and 25 kg/m²</strong>, you are commonly considered to be in
          the <strong>Normal Weight</strong> category, which is associated with a lower chance of weight-associated health
          troubles.</li>
      </ul>

      <p>Maintaining a BMI inside this healthy range is often encouraged for ordinary health and well-being. However,
        it is essential to hold in thoughts that BMI has its barriers and does not account for factors like muscle mass,
        bone density, or body composition. Therefore, it have to be interpreted along different health exams and in
        session with healthcare specialists.</p>

      <p>Individuals with BMIs within the wholesome variety may additionally nevertheless have varying levels of health and average fitness, so it is
        vital to recognition on a holistic technique to health, which include a balanced diet, regular physical activity, and
        ordinary properly-being.</p>


    </app-conent-card>

    <app-conent-card>
      <h2>BMI Interpretation</h2>

      <p>Interpreting your Body Mass Index (BMI) is essential for knowledge how your weight relates on your health.
        BMI provides a numerical cost that shows whether or not your weight falls within precise classes. Here's a
        breakdown of how to interpret your BMI:</p>

      <ul>
        <li><strong>Underweight:</strong> If your BMI is much less than 18.Five kg/m², it indicates that you may be underweight.
          This may want to indicate inadequate nutrition or underlying health concerns. Consultation with a healthcare
          professional is beneficial.</li>

        <li><strong>Normal Weight:</strong> A BMI between 18.5 kg/m² and 24.9 kg/m² is normally taken into consideration everyday
          weight. Falling within this range is related to a decrease danger of weight-related fitness troubles.</li>

        <li><strong>Overweight:</strong> If your BMI is between 25 kg/m² and 29.9 kg/m², it falls within the obese
          class. Being obese can also growth the threat of positive health situations, and way of life changes can be
          recommended.</li>

        <li><strong>Obesity (Class I):</strong> A BMI within the range of 30 kg/m² to 34.Nine kg/m² suggests obesity (Class
          I). Individuals in this class may also face an expanded hazard of fitness issues, and weight control
          techniques are recommended.</li>

        <li><strong>Obesity (Class II):</strong> A BMI among 35 kg/m² and 39.Nine kg/m² is classified as obesity (Class
          II). This signifies a higher risk of weight-associated health concerns, and clinical interest is critical for
          dealing with health risks.</li>

        <li><strong>Obesity (Class III - Morbid Obesity):</strong> A BMI of forty kg/m² or greater is categorised as morbid
          obesity (Class III). This is related to the highest health dangers, and comprehensive medical evaluation
          and remedy are important.</li>
      </ul>

      <p>It's important to be aware that even as BMI is a useful screening tool, it has obstacles. It would not account for
        elements like muscle mass, bone density, or frame composition. Therefore, it need to be interpreted along other
        health exams, and session with healthcare specialists is really helpful for customized steerage on
        weight and fitness management.</p>

      <p>Your BMI offers a starting point for assessing your weight status, however it's only one issue of your normal
        fitness. A comprehensive approach to health includes elements which includes weight loss program, physical interest, genetics, and
        lifestyle selections.</p>

    </app-conent-card>

    <app-conent-card>
      <h2>Limitations of BMI</h2>

      <p>While Body Mass Index (BMI) is a extensively used tool for assessing weight and health, it has numerous boundaries
        that should be considered when deciphering its effects:</p>

      <ul>
        <li><strong>Doesn't Account for Body Composition:</strong> BMI is a simple calculation based totally on weight and
          peak and does now not bear in mind variations in body composition. It can not distinguish among muscle,
          fat, or bone density, that may lead to misclassifications.</li>

        <li><strong>Doesn't Consider Distribution of Weight:</strong> BMI does now not keep in mind where weight is sent
          within the body. Two people with the same BMI can have extraordinary health risks relying on in which their frame
          fats is located.</li>

        <li><strong>Not Suitable for All Populations:</strong> BMI become in the beginning designed for grownup populations and may
          no longer be appropriate for youngsters, athletes, or the elderly. It can yield faulty outcomes for those businesses.
        </li>

        <li><strong>Static Measurement:</strong> BMI affords a single image of weight and top and does no longer
          account for adjustments through the years. It does not don't forget factors like weight fluctuations or weight reduction due to
          infection.</li>
      </ul>

      <p>While BMI is a treasured screening device, it ought to be used along side other health tests and
        clinical judgment to provide a more comprehensive view of an character's fitness.</p>
    </app-conent-card>
    <app-conent-card>
      <h2>BMI and Health Risks</h2>

      <p>Body Mass Index (BMI) is generally used to evaluate the capability health risks related to an person's
        weight. Here's how BMI is often related to fitness:</p>

      <ul>
        <li><strong>Higher BMI and Health Risks:</strong> Research has proven that people with a higher BMI are at
          increased risk for diverse health conditions, inclusive of coronary heart ailment, kind 2 diabetes, excessive blood stress,
          and positive varieties of cancer.</li>

        <li><strong>Obesity-Related Health Issues:</strong> Obesity, indicated by means of a excessive BMI, is associated with a
          better likelihood of developing weight problems-related health issues which include sleep apnea, fatty liver disease, and
          joint problems.</li>

        <li><strong>Weight Management:</strong> Understanding BMI may be a crucial step in handling weight and general
          health. Individuals with high BMIs may also benefit from way of life modifications, which includes diet modifications and
          accelerated bodily hobby, to reduce health risks.</li>

        <li><strong>Individual Variations:</strong> It's crucial to be aware that whilst BMI affords precious insights,
          person versions exist. Some individuals with high BMIs may have accurate metabolic fitness, while others with
          decrease BMIs may additionally still face fitness challenges.</li>
      </ul>

      <p>BMI is a helpful device for figuring out capability fitness risks associated with weight, but it have to be used alongside
        other fitness checks, including discussions with healthcare specialists, to create a personalized health
        plan.</p>
    </app-conent-card>

    <app-conent-card>
      <h2>BMI vs. Other Measures</h2>

      <p>Body Mass Index (BMI) is a generally used measure for assessing weight, but it's important to apprehend how it
        compares to other measures of body composition and fitness:</p>

      <ul>
        <li><strong>BMI vs. Body Fat Percentage:</strong> While BMI is based on weight and height, frame fat percent
          presents a more correct assessment of the quantity of fats inside the frame. Some people with a excessive BMI may also
          have a healthful frame fat percentage, at the same time as others may have excess body fats.</li>

        <li><strong>BMI vs. Waist-to-Hip Ratio:</strong> Waist-to-hip ratio is a degree of fats distribution. It takes
          under consideration the ratio of waist circumference to hip circumference and can offer insights into the
          distribution of frame fat. BMI does now not take into account this aspect.</li>

        <li><strong>BMI vs. Muscle Mass:</strong> BMI can't distinguish among muscle and fats. Athletes and
          individuals with high muscle mass might also have a better BMI due to muscle weight, but this doesn't always
          indicate health issues.</li>

        <li><strong>Complementary Measures:</strong> BMI may be a useful initial screening device, but it is often used
          along other measures like frame fats percent, waist circumference, and clinical checks to provide a
          extra comprehensive view of an individual's health.</li>
      </ul>

      <p>It's critical to recognize that no unmarried degree can offer a complete image of an character's fitness.
        Healthcare specialists can also use a combination of measures to evaluate health and tailor pointers
        accordingly.</p>

    </app-conent-card>
    <app-conent-card>
      <h2>BMI for Children</h2>

      <p>Body Mass Index (BMI) is also used to assess the load reputation of kids and youngsters. However, the
        interpretation of BMI for this age group differs from adults:</p>

      <ul>
        <li><strong>Age and Gender Consideration:</strong> BMI calculations for kids and young people take into
          account age and gender because boom styles range in the course of youth and youth.</li>

        <li><strong>Percentiles:</strong> Instead of unique classes like adults, children's BMI values are regularly
          as compared to growth charts, and percentiles are used. A infant's BMI percentile suggests wherein their BMI falls
          relative to other youngsters of the identical age and gender.</li>

        <li><strong>Interpretation:</strong> Children with BMIs in the eighty fifth to 94th percentile are regularly taken into consideration
          obese, even as those at or above the 95th percentile can be categorised as obese. It's crucial for
          healthcare vendors to recall boom developments through the years in place of a single BMI cost.</li>

        <li><strong>Health Assessments:</strong> Pediatricians use BMI as considered one of several measures to evaluate a toddler's
          boom and improvement. Factors like circle of relatives history, nutritional habits, and physical pastime level also are
          considered while evaluating a toddler's fitness.</li>
      </ul>

      <p>BMI for youngsters is a precious device for figuring out capacity weight-related worries and tracking increase
        developments. However, it have to always be interpreted by way of healthcare professionals in the context of a baby's
        ordinary health and development.</p>

    </app-conent-card>

    <app-conent-card>
      <h2>BMI for Athletes</h2>

      <p>Body Mass Index (BMI) is a beneficial tool for assessing weight within the fashionable population, but it has obstacles
        while carried out to athletes and people with excessive muscle tissues:</p>

      <ul>
        <li><strong>Muscle vs. Fat:</strong> BMI is based totally on weight and peak and does now not distinguish among
          muscle tissues and fat. Athletes regularly have better muscular tissues, which could lead to a better BMI without indicating
          excess frame fats.</li>

        <li><strong>Athletic Variation:</strong> Different sports and athletic disciplines require various frame
          compositions. For instance, a bodybuilder and a protracted-distance runner may additionally have substantially unique BMIs
          in spite of each being notably suit.</li>

        <li><strong>Health vs. Performance:</strong> While BMI can provide insights into health, it would not account for
          performance factors. Athletes may additionally prioritize overall performance and precise body compositions that deviate from
          regular BMI categories.</li>

        <li><strong>Comprehensive Assessment:</strong> When comparing the fitness and health of athletes, healthcare
          carriers frequently use a mixture of measures, consisting of body fat percent, muscular tissues, and performance
          metrics, similarly to BMI.</li>
      </ul>

      <p>It's essential to recognize that a high BMI in athletes does no longer necessarily indicate fitness issues. Athletic
        people should work with healthcare and sports activities professionals who understand the unique desires and goals of
        athletes to make sure a holistic evaluation of fitness and performance.</p>

    </app-conent-card>

    <app-conent-card>
      <h2>BMI for Weight Management</h2>

      <p>Body Mass Index (BMI) serves as a valuable device for individuals in search of to control their weight and common
        health:</p>

      <ul>
        <li><strong>Initial Assessment:</strong> Calculating your BMI provides an preliminary evaluation of your weight
          relative for your top. It allow you to recognize if you fall inside the healthy BMI variety.</li>

        <li><strong>Goal Setting:</strong> If your BMI suggests which you are obese or obese, it could function a
          place to begin for setting weight management goals. Achieving a wholesome BMI can reduce the threat of
          weight-related fitness issues.</li>

        <li><strong>Lifestyle Changes:</strong> A better BMI may also set off life-style modifications, which includes adjustments to
          your weight-reduction plan and elevated bodily pastime. These modifications can contribute to weight loss and progressed fitness.
        </li>

        <li><strong>Monitoring Progress:</strong> Tracking your BMI over time allow you to verify your progress and
          modify your weight control strategies thus.</li>
      </ul>

      <p>It's critical to don't forget that BMI is one among several equipment for weight management. Factors like food plan, workout,
        genetics, and universal nicely-being also play important roles. Consulting with healthcare experts can offer
        customized steering on accomplishing and preserving a healthful weight.</p>

    </app-conent-card>

    <app-conent-card>
      <h2>BMI and Public Health</h2>

      <p>Body Mass Index (BMI) performs a large position in public fitness for numerous motives:</p>

      <ul>
        <li><strong>Population Health Assessment:</strong> BMI is used to assess the general fitness of populations and
          tune developments in weight-associated situations, consisting of weight problems and associated sicknesses.</li>

        <li><strong>Health Policy:</strong> Public health policies and tasks often use BMI facts to tell
          techniques for obesity prevention and control.</li>

        <li><strong>Health Education:</strong> Public fitness campaigns and educational programs frequently use BMI to
          raise awareness approximately the significance of keeping a healthful weight.</li>

        <li><strong>Research:</strong> BMI statistics is vital for conducting research on the prevalence and impact of
          obesity-associated conditions, leading to progressed healthcare interventions.</li>
      </ul>

      <p>By the usage of BMI as a screening tool, public fitness agencies can discover populations at hazard and enforce
        interventions to improve usual fitness and reduce the burden of obesity-related illnesses.</p>

    </app-conent-card>

    <app-conent-card>
      <h2>Calculating BMI - Example</h2>

      <p>Calculating your Body Mass Index (BMI) is a sincere process. Here's an instance of a way to calculate BMI
        for an character:</p>

      <ol>
        <li><strong>Measure Weight:</strong> First, degree your weight in kilograms (kg). Let's say your weight is 70
          kg.</li>

        <li><strong>Measure Height:</strong> Measure your top in meters (m). For example, in case your top is 1.Seventy five
          meters, you would square it: 1.75 m × 1.75 m = 3.06 m².</li>

        <li><strong>Calculate BMI:</strong> Divide your weight via the squared peak. In this case, it might be 70 kg
          / 3.06 m² ≈ 22.Eighty three kg/m².</li>
      </ol>

      <p>So, the calculated BMI for this character is approximately 22.Eighty three kg/m². This fee can then be interpreted
        the use of BMI categories to evaluate weight status.</p>

      <p>Remember that BMI is a screening tool and have to be used alongside other fitness exams for a complete
        expertise of your fitness.</p>

    </app-conent-card>

    <app-conent-card>
      <h2>BMI and Lifestyle</h2>

      <p>Your Body Mass Index (BMI) isn't always just a range of; it may also function a treasured indicator for making way of life
        selections that sell higher fitness:</p>

      <ul>
        <li><strong>Healthy Eating:</strong> If your BMI shows that you are obese or obese, it can be a sign
          to attention on a balanced food plan. Reducing calorie consumption and making nutritious meals alternatives can help you obtain
          and preserve a wholesome BMI.</li>

        <li><strong>Regular Physical Activity:</strong> Combining a wholesome weight loss plan with regular physical activity is fundamental
          to weight management. Exercise now not most effective enables you shed excess weight however also improves ordinary fitness and
          well-being.</li>

        <li><strong>Setting Realistic Goals:</strong> BMI can manual you in setting possible weight goals. Small,
          sluggish changes in your life-style are much more likely to cause lengthy-time period achievement.</li>

        <li><strong>Monitoring Progress:</strong> By tracking your BMI through the years, you can investigate how your lifestyle
          modifications are affecting your weight. This comments permit you to stay inspired and make essential modifications.
        </li>
      </ul>

      <p>Remember that BMI is a starting point for assessing your weight status. It's important to adopt a holistic
        technique to fitness by way of thinking about elements like stress management, sleep great, and usual nicely-being in
        addition to food plan and exercising.</p>

    </app-conent-card>


    <app-conent-card>
      <h2>Consulting a Healthcare Professional</h2>

      <p>When it involves information your Body Mass Index (BMI) and managing your weight, in search of steering from a
        healthcare expert is often useful:</p>

      <ul>
        <li><strong>Interpretation:</strong> Healthcare providers assist you to interpret your BMI in the context of your
          common health. They take into account factors like your medical history, family history, and life-style when assessing
          your weight repute.</li>

        <li><strong>Personalized Recommendations:</strong> A healthcare professional can provide personalised
          suggestions for reaching and preserving a healthful weight. They can tailor advice on your precise desires
          and occasions.</li>

        <li><strong>Health Monitoring:</strong> Regular test-americawith a healthcare provider permit for ongoing
          monitoring of your weight and fitness. This can help discover any adjustments or fitness risks early on.</li>

        <li><strong>Addressing Underlying Issues:</strong> If your BMI indicates capability health concerns, healthcare
          experts can conduct in addition opinions to address underlying problems and develop suitable remedy
          plans.</li>
      </ul>

      <p>Whether you have a excessive or low BMI, consulting a healthcare expert can provide you with the steerage and
        guide needed to make knowledgeable selections approximately your fitness and nicely-being. They assist you to navigate the
        complexities of weight control and normal fitness.</p>

    </app-conent-card>
  </div>
</div>

<ng-template #bmi_chart>


  <div class="bmi-chart" *ngIf="bmiResult" #char>
    <!-- BMI = {{bmiResult.bmi}}
    {{bmiResult.category}} -->
    <div class="part obese-class-3">40</div>
    <div class="part obese-class-2">35</div>
    <div class="part obese-class-1">30</div>
    <div class="part overweight">25</div>
    <div class="part normal">18.5</div>
    <div class="part mild-thinness">17</div>
    <div class="part moderate-thinness">16</div>

    <div class="label underweight">underweight</div>
    <div class="label normal">normal</div>
    <div class="label overweight">overweight</div>
    <div class="label obesity">obesity</div>
    <div class="score f-col j-center a-center {{bmiResult.status}}"
      [ngStyle]="{'left':'max(min(100% , '+(bmiResult.bmi - 11) / 0.34 +'%),0px)'}">
      <span>
        {{bmiResult.bmi}}
      </span>
      <img src="assets/images/arrow.svg" width="24" height="24" alt="your score indicator">
    </div>


  </div>

</ng-template>