<app-generic-units-converter [tableValues]="tableValues" [popularUnits]="popularUnits" [units]="units" (updateResult)="updateResult($event)"
    [linkUnitType]="linkUnitType" [result]="result" [unitType]="'Temperature'">

    <section id="temperature-converter" aria-label="Temperature Converter Description">
        <h2>Temperature Converter</h2>

        <p>The Temperature Converter is a valuable tool that enables you to convert measurements of temperature from one
            unit to another. It is essential for various applications, including science, cooking, engineering, and
            weather-related calculations.</p>

        <p>Using the Temperature Converter is straightforward. Follow these steps:</p>

        <ol>
            <li>Enter the value you want to convert in the input field.</li>
            <li>Select the unit you are converting from in the "From" dropdown list.</li>
            <li>Select the unit you want to convert to in the "To" dropdown list.</li>
            <li>The converted value will be displayed in the result field.</li>
        </ol>

        <p>For example, if you need to convert <strong>{{linkUnitLabels[0]}} to {{linkUnitLabels[1]}}</strong>, enter the <strong> {{linkUnitLabels[0]}}</strong> value, select
            <strong>"{{linkUnitLabels[0]}}"</strong> as the "From" unit, and <strong>"{{linkUnitLabels[1]}}"</strong> as the "To" unit.  and you will see the
            equivalent temperature in <strong>{{linkUnitLabels[1]}}</strong>.</p>

        <p>The Temperature Converter supports a comprehensive range of temperature units, making it a valuable tool for
            professionals, chefs, students, and anyone who needs to perform accurate temperature conversions for their
            specific needs.</p>
    </section>
    <br>
    <br>

    <ng-container *ngFor="let unitDescription of unitsDescription">
        <div [innerHTML]="unitDescription"></div>
        <br>
    </ng-container>


</app-generic-units-converter>