.unit-container{
    width: min(600px,90vw);
    color: #228855;
    .container  {
        margin-top: 2rem;
    }
    .selects-container{
        width: 100%;
        .select-container{
            width: calc(50% - 0.5rem);
        }
    }



}