<div class="parent">
  <div class="x-container">
      <h1>Calorie Needs Calculator</h1>
      <div class="container " #content>
        <div class="calcolator-container w-100p">
          <div class="form-container">
            <div class="options f-row">
              <button class="btn-theme" aria-label="Switch to US units" [class.selected]="isUSType"
                (click)="setUnitType(true)">US units</button>
              <button class="btn-theme" aria-label="Switch to Metric units" [class.selected]="!isUSType"
                (click)="setUnitType(false)">Metric units</button>
            </div>
            <form class="f-col form-content" [formGroup]="userForm" (ngSubmit)="calculateCalories()" *ngIf="!isUSType">
              <app-dropdown [options]="activity" [selected]="selectedActivity" [placeholder]="'your Activity Level...'"
              [inputAriaLabelledBy]="'Select Activity level'" [listAriaLabelledBy]="'Activity list'" [label]="'Activity:'"
              [componentId]="'user-activity'" (selectedOption)="selectedActivity = $event.key"></app-dropdown>
            <br>
              <label style="display: none;">Gender:
                <select id="gender" [(ngModel)]="selectedGender" name="gender" formControlName="gender"
                  class="form-control">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </label>
              <app-dropdown [options]="[{key:'male',label:'Male'},{key:'female',label:'Female'}]"
                [selected]="selectedGender" [placeholder]="'Selected your Gender'"
                [inputAriaLabelledBy]="'Select Your gender'" [listAriaLabelledBy]="'Gender list'" [label]="'Gender:'"
                [componentId]="'user-gender'" (selectedOption)="selectedGender = $event.key"></app-dropdown>
              <br>
              <label>Age (years):
                <input type="number" id="age" [(ngModel)]="age" name="age" formControlName="age" class="form-control">
              </label>
              <label class="f-col">
                <div class="label">Height (in centimetre):</div>
                <input type="number" [(ngModel)]="avgHeight" min="1" formControlName="height"
                  placeholder="your Height..." aria-label="Your Height value">
              </label>
              <label class="f-col">
                <div class="label">Weight (in kilograms):</div>
                <input type="number" [(ngModel)]="avgWeight" min="1" formControlName="weight"
                  placeholder="your Weight..." aria-label="Weight value value">
              </label>

              <button type="submit" aria-label="Calcolate calorie" class="submit-button"
                [disabled]="!userForm.valid">Calculate</button>
            </form>

            <form class="f-col form-content" [formGroup]="userForm" (ngSubmit)="calculateCalories_US()" *ngIf="isUSType">
              <app-dropdown [options]="activity" [selected]="selectedActivity" [placeholder]="'your Activity Level...'"
              [inputAriaLabelledBy]="'Select Activity level'" [listAriaLabelledBy]="'Activity list'" [label]="'Activity:'"
              [componentId]="'user-activity'" (selectedOption)="selectedActivity = $event.key"></app-dropdown>
            <br>
              <label style="display: none;">Gender:
                <select id="gender" [(ngModel)]="selectedGender" name="gender" formControlName="gender"
                  class="form-control">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </label>
              <app-dropdown [options]="[{key:'male',label:'Male'},{key:'female',label:'Female'}]"
                [selected]="selectedGender" [placeholder]="'Selected your Gender'"
                [inputAriaLabelledBy]="'Select Your gender'" [listAriaLabelledBy]="'Gender list'" [label]="'Gender:'"
                [componentId]="'user-gender'"
                (selectedOption)="selectedGender = selectedGender = $event.key"></app-dropdown>
              <br> <label>Age (years):
                <input type="number" id="age" [(ngModel)]="age" name="age" formControlName="age" class="form-control">
              </label>
              <div class="us-height f-row">
                <label class="f-col">
                  <div class="label">Feet:</div>
                  <input type="number" [(ngModel)]="avgHeightFeet" min="1" formControlName="heightFeet"
                    placeholder="your Feet Height..." aria-label="Your Height value">
                </label>
                <label class="f-col">
                  <div class="label">Inches:</div>
                  <input type="number" [(ngModel)]="avgHeightInch" min="0" formControlName="heightInch"
                    placeholder="your Inches Height..." aria-label="Your Height value">
                </label>
              </div>
              <label class="f-col">
                <div class="label">Weight (in Pounds):</div>
                <input type="number" [(ngModel)]="avgWeightPound" min="1" formControlName="weightPound"
                  placeholder="your Weight..." aria-label="Weight value value">
              </label>

              <button type="submit" class="submit-button" aria-label="Calcolate calorie needed per day"
                [disabled]="!userForm.valid">Calculate</button>
            </form>

          </div>
          <div *ngIf="calorieResults.length">
              <section id="calorie-results" class="results" aria-label="Calorie Results">
                <h2>Result</h2>
                <p>
                  The results show a number of daily calorie estimates that can be used as a guideline for how many calories to consume each day to maintain, lose, or gain weight at a chosen rate.
                </p>
                
                <table class="calorie-table">
                  <thead>
                    <tr>
                      <th>Scenario</th>
                      <th>Calories/Day</th>
                      <th>Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let result of calorieResults">
                      <td>{{ result.label }}</td>
                      <td>{{ result.calories | number }}</td>
                      <td>{{ result.percentage }}</td>
                    </tr>
                  </tbody>
                </table>
            
              </section>

          </div>
        </div>

      </div>

  </div>
  <div class="container info">
    <app-conent-card>
      <section id="introduction-to-calorie-calculation" aria-label="Introduction to Calorie Calculation">
        <h2>Introduction to Calorie Calculation</h2>
        <p>
          In this phase, we introduce the concept of calorie calculation and its significance in keeping a healthy life-style. We provide an explanation for that calorie calculation is a essential device that helps individuals apprehend their day by day power needs.
        </p>
        <p>
          We speak how calorie calculation plays a important role in weight control, whether or not a person desires to lose, gain, or preserve their weight. It units the inspiration for making informed decisions approximately eating regimen and exercise.
        </p>
        <p>
          Mention that this calculator considers elements inclusive of age, gender, activity level, peak, and weight to estimate every day calorie necessities. It's a personalized approach to fitness and health.
        </p>
        <p>
          Highlight that the Calorie Calculator aims to simplify the process of determining each day caloric needs, making it available and clean to use for all and sundry.
        </p>
      </section>
    </app-conent-card>
    
    <app-conent-card>
      <section id="why-calorie-calculation-matters" aria-label="Why Calorie Calculation Matters">
        <h2>Why Calorie Calculation Matters</h2>
        <p>
          This phase delves into the importance of calorie calculation in achieving health and fitness dreams. We emphasize the following factors:
        </p>
        <ul>
          <li><strong>Weight Management:</strong> Explain that information every day calorie needs is crucial for the ones aiming to lose, gain, or maintain weight. Calorie calculation gives a roadmap for attaining these goals.</li>
          <li><strong>Health and Nutrition:</strong> Discuss how calorie calculation is a cornerstone of healthful vitamins. It allows individuals make informed choices approximately element sizes, meals selections, and macronutrient balance.</li>
          <li><strong>Energy Balance:</strong> Explain the idea of energy stability, in which energy fed on must suit energy expended. Calorie calculation facilitates people obtain this balance.</li>
          <li><strong>Fitness Optimization:</strong> Mention that athletes and health fans rely on calorie calculation to tailor their vitamins and exercising workouts for height performance.</li>
          <li><strong>Lifestyle Adaptation:</strong> Highlight that calorie calculation can adapt to converting existence, along with transitioning from a sedentary process to a extra active one.</li>
        </ul>
        <p>
          These descriptions provide a stable advent to the significance of calorie calculation and set the level for in addition exploration of this subject matter to your page.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="factors-affecting-daily-calorie-needs" aria-label="Factors Affecting Daily Calorie Needs">
        <h2>Factors Affecting Daily Calorie Needs</h2>
        <p>
          Your each day calorie wishes aren't a set wide variety; they are able to vary extensively between people. Several factors have an effect on your daily calorie necessities, and expertise these elements is important for making informed picks approximately your eating regimen and nutrients.
        </p>
        <p>
          Some of the primary factors affecting each day calorie desires consist of age, gender, pastime stage, peak, and weight. Let's take a better observe each of these factors:
        </p>
        <ul>
          <li><strong>Age:</strong> As you become older, your each day calorie desires can also alternate. This is partially because of modifications in metabolism and interest tiers.</li>
          <li><strong>Gender:</strong> Gender plays a position, with guys normally having better calorie desires than women. These differences can be attributed to variations in muscle groups and body composition.</li>
          <li><strong>Activity Level:</strong> Your day by day physical interest notably influences calorie requirements. Those with greater lively life generally want greater energy to aid their strength expenditure.</li>
          <li><strong>Height:</strong> Taller individuals may additionally require more energy to maintain their frame functions and activity ranges in comparison to shorter people.</li>
          <li><strong>Weight:</strong> Your cutting-edge weight is a component as properly. Heavier individuals might also have higher calorie desires to support their body mass.</li>
        </ul>
        <p>
          These are a number of the fundamental factors that come into play while determining your day by day calorie necessities. In the following sections, we're going to discover the way to calculate those desires appropriately and make the proper choices for your fitness and nicely-being.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="the-science-behind-calorie-calculation" aria-label="The Science Behind Calorie Calculation">
        <h2>The Science Behind Calorie Calculation</h2>
        <p>
          Calorie calculation is grounded in medical principles that assist us apprehend how our our bodies use electricity. In this section, we're going to delve into the technology behind calorie calculation and explore the important thing standards concerned.
        </p>
        <p>
          We'll talk ideas including Basal Metabolic Rate (BMR), which represents the number of calories your body wishes at relaxation, and Total Daily Energy Expenditure (TDEE), which bills in your day by day hobby stage.
        </p>
        <p>
          We'll also discover the energy balance equation, which bureaucracy the basis of calorie calculation. It's a easy but powerful concept that allows individuals reap their weight and fitness desires.
        </p>
        <p>
          Understanding the science behind calorie calculation empowers you to make informed decisions about your diet and lifestyle. It's the foundation of powerful weight control and most reliable fitness.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="calculating-bmr" aria-label="Calculating Basal Metabolic Rate (BMR)">
        <h2>Calculating Basal Metabolic Rate (BMR)</h2>
        <p>
          Basal Metabolic Rate (BMR) represents the wide variety of energy your frame wishes to preserve fundamental features whilst at relaxation. It's a vital aspect of calorie calculation, as it bureaucracy the inspiration for estimating your day by day power wishes.
        </p>
        <p>
          In this section, we will delve into the calculations in the back of BMR. We'll explore the Mifflin-St Jeor Equation and Harris-Benedict Equation, which can be normally used formulas to estimate BMR based on factors like age, gender, top, and weight.
        </p>
        <p>
          Understanding a way to calculate your BMR is the first step in tailoring your vitamins plan on your specific needs. It offers precious insights into your body's baseline strength requirements.
        </p>
        <p>
          We'll additionally talk a way to interpret your BMR and its significance within the context of your usual calorie wishes. This information empowers you to make informed selections approximately your eating regimen and health.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="determining-activity-factors" aria-label="Determining Activity Factors">
        <h2>Determining Activity Factors</h2>
        <p>
          Your every day pastime level plays a vital function in figuring out your total day by day calorie wishes. Activity elements represent the multiplier applied for your Basal Metabolic Rate (BMR) to account for bodily hobby.
        </p>
        <p>
          In this phase, we're going to discover special activity degrees and how to decide which one quality represents your daily life. We'll talk sedentary, lightly active, reasonably energetic, very energetic, and notable lively life, every with its associated hobby thing.
        </p>
        <p>
          Determining your activity aspect is a key step in as it should be estimating your each day calorie necessities. It ensures that your power consumption aligns with your hobby degree, assisting you maintain, lose, or gain weight as desired.
        </p>
        <p>
          We'll offer steering on a way to pick the proper interest component and how it affects your calorie goals. Understanding this aspect of calorie calculation empowers you to tailor your vitamins plan on your life-style.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="setting-weight-goals" aria-label="Setting Weight Goals">
        <h2>Setting Weight Goals</h2>
        <p>
          Achieving your preferred weight and frame composition involves setting clean and realistic desires. In this segment, we're going to talk the importance of defining your weight dreams and the way they relate to calorie calculation.
        </p>
        <p>
          We'll explore scenarios for retaining, losing, or gaining weight and how your day by day calorie needs align with these dreams. Understanding the calorie deficit for weight reduction or calorie surplus for weight advantage is crucial.
        </p>
        <p>
          We'll provide realistic pointers on how to set conceivable weight goals based on your person circumstances, possibilities, and timelines. Effective aim placing is a key step on your journey towards a more fit way of life.
        </p>
        <p>
          We'll also speak the role of consistency, monitoring progress, and adjusting your plan as wished. These techniques are essential for staying heading in the right direction and accomplishing your weight dreams.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="practical-applications-of-calorie-calculation" aria-label="Practical Applications of Calorie Calculation">
        <h2>Practical Applications of Calorie Calculation</h2>
        <p>
          Calorie calculation isn't only a theoretical idea; it has realistic applications to your daily lifestyles. In this segment, we will explore a way to practice calorie calculation ideas to make informed alternatives approximately your food regimen and fitness.
        </p>
        <p>
          We'll discuss meal making plans and component manage, highlighting how calorie expertise empowers you to create balanced and nutritious meals that align with your goals.
        </p>
        <p>
          We'll also delve into the role of exercise and bodily pastime in calorie management. You'll discover ways to tailor your exercise routines to assist your calorie needs, whether or not you're aiming for weight loss, renovation, or muscle gain.
        </p>
        <p>
          Additionally, we're going to touch at the significance of monitoring your food consumption and staying aware of your day by day calorie intake. These sensible programs make sure which you stay in control of your vitamins and fitness.
        </p>
        <p>
          By the quit of this phase, you may have a clean knowledge of ways calorie calculation interprets into actual-lifestyles choices that contribute for your nicely-being and fitness achievement.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="balancing-diet-and-exercise" aria-label="Balancing Diet and Exercise">
        <h2>Balancing Diet and Exercise</h2>
        <p>
          Achieving a healthy way of life involves a sensitive balance between weight-reduction plan and exercise. In this section, we will explore the way to harmonize your vitamins and health workouts to reach your fitness and health desires correctly.
        </p>
        <p>
          We'll speak the synergy among calorie calculation and exercising planning. You'll learn how to align your calorie consumption along with your exercise habitual, making sure that your body has the power it needs to perform optimally.
        </p>
        <p>
          We'll delve into meal timing, pre- and publish-workout vitamins, and the role of macronutrients (carbohydrates, proteins, and fats) in assisting your workouts and restoration.
        </p>
        <p>
          Additionally, we're going to provide steerage on how to adapt your food regimen and exercise plan based totally in your desires, whether or not it is weight reduction, muscle gain, or usual health improvement.
        </p>
        <p>
          By the stop of this segment, you'll have a complete know-how of how to strike the proper stability among weight loss plan and exercise to maximise your fitness and health outcomes.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="interpreting-calorie-calculation-results" aria-label="Interpreting Calorie Calculation Results">
        <h2>Interpreting Calorie Calculation Results</h2>
        <p>
          Calorie calculation presents you with valuable statistics, but information and decoding the results is essential. In this segment, we will guide you through the method of creating feel of your calorie calculation results.
        </p>
        <p>
          We'll talk the importance of calorie surplus and calorie deficit in the context of weight goals. You'll discover ways to interpret these numbers and modify your weight loss plan accordingly.
        </p>
        <p>
          We'll explore the concept of protection energy and how they relate to preserving your cutting-edge weight. Understanding this price is fundamental to preventing unintentional weight adjustments.
        </p>
        <p>
          We'll offer insights into the rate of weight reduction or advantage based totally on calorie differentials, helping you put sensible expectancies on your journey.
        </p>
        <p>
          By the stop of this section, you will be properly-equipped to investigate your calorie calculation results and make knowledgeable decisions approximately your diet, exercise, and ordinary health.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="maintaining-a-healthy-lifestyle" aria-label="Maintaining a Healthy Lifestyle">
        <h2>Maintaining a Healthy Lifestyle</h2>
        <p>
          A healthy life-style isn't just about accomplishing a selected weight or fitness goal; it is an extended-time period dedication to well-being. In this section, we're going to discuss the behavior and practices that make a contribution to maintaining a healthy and balanced life.
        </p>
        <p>
          We'll explore the significance of consistency to your weight loss plan and workout exercises. Consistency is the key to sustaining your progress and stopping setbacks.
        </p>
        <p>
          We'll talk the position of mindfulness in ingesting and exercise. Being present and attentive on your picks fosters a high quality dating with meals and fitness.
        </p>
        <p>
          We'll also touch on strain control, sleep, and hydration as important components of a healthful lifestyle. These factors have a right away effect to your ordinary health and well-being.
        </p>
        <p>
          By the cease of this segment, you will have a comprehensive information of how to keep a healthful lifestyle that is going beyond numbers and embraces holistic properly-being.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="frequently-asked-questions-faqs" aria-label="Frequently Asked Questions (FAQs)">
        <h2>Frequently Asked Questions (FAQs)</h2>
        <p>
          This phase addresses not unusual questions and concerns associated with calorie calculation, nutrients, and health. We've compiled solutions that will help you navigate your fitness and health adventure correctly.
        </p>
        <ul>
          <li>
            <strong>Q: How do I calculate my Basal Metabolic Rate (BMR)?</strong><br>
            A: To calculate your BMR, you can use formulas like the Mifflin-St Jeor Equation or the Harris-Benedict Equation. These equations don't forget your age, gender, peak, and weight to estimate your BMR.
          </li>
          <li>
            <strong>Q: What is Total Daily Energy Expenditure (TDEE)?</strong><br>
            A: TDEE represents the overall range of energy your body desires in an afternoon, thinking about your BMR and hobby level. It's a critical element in figuring out your each day calorie requirements.
          </li>
          <li>
            <strong>Q: How can I lose weight efficaciously?</strong><br>
            A: Effective weight loss entails creating a calorie deficit through ingesting fewer calories than you burn. A slow and sustainable approach, combining a balanced weight loss plan with ordinary exercise, is suggested.
          </li>
          <li>
            <strong>Q: Can calorie calculation help with muscle gain?</strong><br>
            A: Yes, calorie calculation is beneficial for muscle gain. It ensures you consume sufficient calories and protein to support muscle increase while undertaking strength education sporting events.
          </li>
          <li>
            <strong>Q: Are there precise diets for calorie calculation?</strong><br>
            A: Calorie calculation may be applied to numerous diets, inclusive of low-carb, excessive-protein, vegetarian, and extra. The key is to balance your calorie consumption together with your dietary choices and desires.
          </li>
        </ul>
        <p>
          Whether you are new to calorie calculation or trying to refine your technique, these FAQs offer valuable insights and steerage to guide your desires. If you have a question it truly is now not protected right here, experience free to reach out, and we will be glad to offer the facts you want.
        </p>
      </section>
    </app-conent-card>
    
    <app-conent-card>
      <section id="conclusion" aria-label="Conclusion">
        <h2>Conclusion</h2>
        <p>
          In this comprehensive manual to calorie calculation and its sensible packages, you've got received treasured insights into information and dealing with your every day electricity desires.
        </p>
        <p>
          We've explored the elements affecting each day calorie necessities, the science in the back of calorie calculation, and how to practice this expertise to set and gain your weight and fitness desires.
        </p>
        <p>
          Remember that calorie calculation is a effective device, however it's just one component of a holistic approach to health and nicely-being. Maintaining a balanced weight-reduction plan, staying active, coping with stress, and getting first-rate sleep are all quintessential components of a healthy way of life.
        </p>
        <p>
          Your adventure in the direction of foremost fitness and fitness is particular to you. Use the know-how you've gained here as a basis for making informed picks that align together with your dreams.
        </p>
        <p>
          We inspire you to live devoted for your health, are seeking support and steerage while needed, and keep learning and adapting as you progress for your route to a healthier, happier existence.
        </p>
      </section>
    </app-conent-card>
                                            

  </div>
</div>