<app-generic-units-converter [popularUnits]="popularUnits" [units]="units" (updateResult)="updateResult($event)"
     [linkUnitType]="linkUnitType" 
    [result]="result" [unitType]="'Weight and Mass'">

    <section id="weight-converter" aria-label="Weight Converter Description">
        <h2>Weight Converter</h2>
        
        <p>The Weight Converter is a useful tool that allows you to convert measurements of weight or mass from one unit to another. It is indispensable in various applications, including cooking, science, engineering, and everyday tasks where precise weight conversions are required.</p>
        
        <p>Using the Weight Converter is straightforward. Follow these steps:</p>
        
        <ol>
            <li>Enter the value you want to convert in the input field.</li>
            <li>Select the unit you are converting from in the "From" dropdown list.</li>
            <li>Select the unit you want to convert to in the "To" dropdown list.</li>
            <li>The converted value will be displayed in the result field.</li>
        </ol>
        
        <p>For example, if you need to convert kilograms (kg) to pounds (lb), enter the value in kilograms, select "Kilogram" as the "From" unit, and "Pound" as the "To" unit. Click "Convert," and you will see the equivalent weight in pounds.</p>
        
        <p>The Weight Converter supports a comprehensive range of weight units, making it an essential tool for cooks, scientists, students, and anyone who needs to perform accurate weight conversions for their specific needs.</p>
    </section>
    <br><br>
    <ng-container *ngFor="let unitDescription of unitsDescription" >
        <div [innerHTML]="unitDescription"></div>
        <br>
    </ng-container>
    
</app-generic-units-converter>