<div class="x-container">
    <h1>Text Conversion</h1>
    <div class="container">
      <label for="inputText" style="display: none;">Enter text here:</label>
      <app-in-out-text-boxes #boxes [result]="text" [storedKey]="'convertedText'" (onChangeEmitter)="setOriginalText($event)"></app-in-out-text-boxes>
      <div class="buttons" role="group" aria-labelledby="conversionInstructions">
        <button (click)="convertToLowercase();executeFn=convertToLowercase">lower case</button>
        <button (click)="convertToUppercase();executeFn=convertToUppercase">UPPER CASE</button>
        <button (click)="convertToTitleCase();executeFn=convertToTitleCase">Title Case</button>
        <button (click)="convertToCapitalizedCase();executeFn=convertToCapitalizedCase">Capitalized Case</button>
        <button (click)="convertToCamelCase();executeFn=convertToCamelCase">camelCase</button>
        <button (click)="textToKebabCase();executeFn=textToKebabCase">kebab-case</button>
        <button (click)="convertToSnakeCase();executeFn=convertToSnakeCase">snake_case</button>
        <button (click)="convertToInverseCase();executeFn=convertToInverseCase">InVeRsE CaSe</button>
      </div>
      <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="text"></app-result-actions-btn>
    </div>
  </div>
  
  <!-- Your existing HTML code -->