<div class="x-container">
    <h1>Text Conversion</h1>
    <ng-container [ngTemplateOutlet]="ads"></ng-container>
    <div class="container">
      <label for="inputText" style="display: none;">Enter text here:</label>
      <app-in-out-text-boxes #boxes [result]="text" [storageKey]="storageKey" (onChangeEmitter)="setOriginalText($event)"></app-in-out-text-boxes>
      <div class="buttons" role="group" aria-labelledby="conversionInstructions">
        <button class="btn-theme" [class.selected]="executeFn === convertToUppercase" (click)="convertToUppercase();executeFn=convertToUppercase">UPPER CASE</button>
        <button class="btn-theme" [class.selected]="executeFn === convertToLowercase" (click)="convertToLowercase();executeFn=convertToLowercase">lower case</button>
        <button class="btn-theme" [class.selected]="executeFn === convertToTitleCase" (click)="convertToTitleCase();executeFn=convertToTitleCase">Title Case</button>
        <button class="btn-theme" [class.selected]="executeFn === convertToCapitalizedCase" (click)="convertToCapitalizedCase();executeFn=convertToCapitalizedCase">Capitalized Case</button>
        <button class="btn-theme" [class.selected]="executeFn === convertToCamelCase" (click)="convertToCamelCase();executeFn=convertToCamelCase">camelCase</button>
        <button class="btn-theme" [class.selected]="executeFn === textToKebabCase" (click)="textToKebabCase();executeFn=textToKebabCase">kebab-case</button>
        <button class="btn-theme" [class.selected]="executeFn === convertToSnakeCase" (click)="convertToSnakeCase();executeFn=convertToSnakeCase">snake_case</button>
        <button class="btn-theme" [class.selected]="executeFn === convertToInverseCase" (click)="convertToInverseCase();executeFn=convertToInverseCase">InVeRsE CaSe</button>
      </div>
      <ng-container [ngTemplateOutlet]="ads"></ng-container>
      <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="text"></app-result-actions-btn>
    </div>
  </div>

  <ng-template #ads>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8746065127850305"
       crossorigin="anonymous"></script>
  <!-- text convert -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8746065127850305"
       data-ad-slot="1432195349"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </ng-template>