<header class="header  f-row a-center j-between">
    <div class="f-row a-center">
        <button class="menu-button btn-resting c-pointer" (click)="toggleMenuState($event)" aria-label="Toggle Menu">
            <img class="icon menu-icon" src="assets/images/menu.svg" width="32" height="32" alt="menu" />
        </button>
        <a class="f-row a-center logo-container c-pointer" [routerLink]="['']">
            <span class="cls-1">Convert</span><span class="cls-2">Case</span>
        </a>
    </div>
    <a href="https://www.buymeacoffee.com/haythamidrt" class="support-me" target="_blank">
        <img src="assets/images/support-me.png" height="50" width="180" loading="lazy" alt="Buy Me A Coffee" >
    </a>

    <div class="menu" [class.menu-opened]="isMenuOpened" >
        <div class="content f-col j-between" (click)="$event.stopPropagation()">
            <nav>
                <ul>
                    <li class="w-100p" *ngFor="let route of menuRouts; let index = index"
                        [class.selected]="selectedRouteIndex === index">
                        <a class="w-100p f-row a-center" [routerLink]="route.path" (click)="backToMainMode()">
                            <img class="link-icon" [src]="route.icon" width="24" height="24" [alt]="route.label" />
                            <span> {{ route.label }}</span></a>
                    </li>
                </ul>
            </nav>
            <div class="rights">
            <span>© 2023-2023 Convert Case Tools Ltd. All Rights Reserved.</span>    
            </div>
        </div>
    </div>
</header>