<header class="header  f-row a-center j-between">
    <button class="btn-resting c-pointer" (click)="toggleMenuState($event)" aria-label="Toggle Menu">
        <img class="icon menu-icon" src="assets/images/menu.svg" width="24" height="24" alt="menu" />
    </button>
    <a href="https://www.buymeacoffee.com/haythamidrt" class="support-me" target="_blank">
        <img src="assets/images/support-me.png" alt="Buy Me A Coffee" >
    </a>
    <div class="menu" [class.menu-opened]="isMenuOpened" >
        <div class="content" (click)="$event.stopPropagation()">
            <div class="logo f-row a-center">
                <button class="btn-resting c-pointer" (click)="toggleMenuState($event)">
                    <img width="20" height="20" src="assets/images/back.svg" alt="">
                </button>
            </div>
            <nav>
                <ul>
                    <li class="w-100p" *ngFor="let route of menuRouts; let index = index"
                        [class.selected]="selectedRouteIndex === index">
                        <a class="w-100p" [routerLink]="route.path">{{ route.label }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>