@import "../../../styles/responsive";
@import "../../../styles/mixins";
$bg-color: #144D30;

.logo-container {
    width: max-content;
    margin-left: 0.5rem;



    .cls-1,
    .cls-2 {
        
        user-select: none;
    }

    display: none;

    @include mobileFirst('sm') {
        display: flex;
    }
}

.header {
    background-color: $bg-color;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 1000;
    padding: 0 1rem;
    .support-me {
        .coffee{
            cursor: pointer;
            background-color: #FFDD00;
            padding: 0 0.75rem 0 0.5rem;
            border-radius: 0.5rem;
            height: 50px;
            span{
            font-size: 2rem;
            padding: 0;
        }
        font-size: 18px;
        font-weight: bold;
    }
    &,
     img {
        height: 50px !important;
        width: 202px !important;
    }
    }

    .arrow {
        font-size: 12px;
    }

    .btn-resting {
        width: max-content;
    }

    .icon {
        @include filter(invert(100%));
    }

    .menu-button {
        margin-right: 0.75rem;
    }

    .menu {
        position: fixed;
        left: 0;
        top: 60px;
        width: 0;
        height: calc(100vh - 60px);
        transition: left 0.5s;
        .link-icon{
            @include filter(invert(21%) sepia(80%) saturate(379%) hue-rotate(97deg) brightness(96%) contrast(95%));
        }


        .back-container {
            background-color: $bg-color;
            padding: 0.5rem 1rem;
            color: white;
            margin: 0;
            font-size: 1rem;
            font-weight: 800;
            height: 60px;
            box-sizing: border-box;

            img {
                filter: invert(100%);
            }
        }


        .content {
            position: absolute;
            top: 0;
            left: -60px;
            background-color: #f7f3ff;
            @include mobileFirst('mlg'){
                left: 0;
                box-shadow: 1px 0 6px 1px #848e89;
            }
            z-index: 10;
            width: 60px;
            max-width: calc(100vw - 3rem);
            height: 100%;
            transition: all 0.35s;
            box-sizing: border-box;
            padding-bottom: 1rem;
            ul {
                padding: 0;
                padding-top: 0.5rem;

                li {
                    list-style-type: none;
                    padding: 0;
                    padding-top: .5rem;
                    margin: 0;

                    a {
                        width: 100%;
                        box-sizing: border-box;
                        padding: 1rem;
                        text-decoration: none;
                        color: black;
                        font-size: 1rem;
                        &.selected,&:hover{
                            background-color: rgb(231, 231, 231);
                        }
                        img{
                            margin-right: 0.75rem;
                        }
                    }

                }
            }

            span{
                width: 0;
                overflow: hidden;
                white-space: nowrap;
                opacity: 0;
                transition: all 0.55s;
            }
            .rights{
                width: 0;
                overflow: hidden;
                padding: 0.5rem;
                font-size: 10px;
                text-align: center;
                opacity: 0;
                transition: all 0.15s;
            }
        }

        &.menu-opened {
            width: 100vw;
            left: 0;
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
            .content .rights{
                width: max-content;
                transition: all 0.55s 0.15s;
                opacity: 1 !important;
            }
        }
            &.menu-opened .content {
                width: 300px;
                left: 0;
                span{
                width: max-content;
                display: unset !important;
                opacity: 1 !important;
                transition: all 0.55s 0.15s;
            }
            .rights{
                width: max-content;
                transition: all 0.55s 0.15s;
                opacity: 1 !important;
            }
        } 
    
        @media screen and (hover:hover) {
            .content:hover {
                width: 300px;
                left: 0;
                span{
                width: max-content;
                display: unset !important;
                opacity: 1 !important;
                transition: all 0.55s 0.15s;
            }
            .rights{
                width: max-content;
                transition: all 0.55s 0.15s;
                opacity: 1 !important;
            }
        }

    }

    }


}