<div class="custom-container" [class.show]="show">
    <button class="btn-theme custom-button" [class.selected]="selected" (click)="setShowState(true)" [attr.aria-label]="text">{{text}}</button>
    <div class="d-container f-col" (click)="$event.stopPropagation();$event.preventDefault()">
        <div class="f-row a-center j-center">
            <input   #input1 [placeholder]="placeholder1">
            <input   #input2 [placeholder]="placeholder2">
        </div>
        <button class="btn-theme apply" (click)="onClick.emit({first:input1.value,second:input2.value});setShowState(false)" aria-label="apply">{{apply}}</button>
    </div>
  </div>
