<div class="parent">
<div class="x-container">

  <h1>Text Manipulation</h1>
  <div class="container">
    <div class="input-container"> 
      <div class="f-row input-list" *ngIf="executeFn === textReplacer">
        <label class="f-col">
          Find text to replace:
          <input type="text" placeholder="Search" [(ngModel)]="search" (ngModelChange)="textReplacer(search, replacement)">
        </label>
        <label class="f-col">
          Replace With:
          <input type="text" placeholder="Replace" [(ngModel)]="replacement" (ngModelChange)="textReplacer(search, replacement)">
        </label>
      </div>
          <label class="f-col" *ngIf="executeFn === textRotator">Rotation Amount:
            <input  type="number"  placeholder="Rotation Amount" [(ngModel)]="textRouterCount" (ngModelChange)="textRotator(textRouterCount)">
          </label>
        <label class="f-col" *ngIf="executeFn === textColumnFormatter">
          Column Width:
          <input  type="number"  placeholder="Column Width" [(ngModel)]="columnWidth"  (ngModelChange)="textColumnFormatter(columnWidth)">
        </label>
        <label class="f-col" *ngIf="executeFn === textRepeater">
            Repeat Count:
          <input  type="number"  placeholder="Repeat Count" [(ngModel)]="repetitions"  (ngModelChange)="textRepeater(repetitions)">
        </label>
    </div>

    <app-in-out-text-boxes #boxes [result]="text" [storageKey]="storageKey"
      (onChangeEmitter)="setOriginalText($event)"></app-in-out-text-boxes>
    <div class="buttons" role="group" aria-labelledby="conversionInstructions">
      <a replaceUrl [routerLink]="['/', 'text-tools','text-manipulation', 'text-reverser']">
        <button class="btn-theme" [class.selected]="executeFn === textReverser"
          (click)="boxes.focus();onSelect(textReverser)" aria-label="Text Reverser">Reverse Text</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'text-tools','text-manipulation', 'text-randomization']">
        <button class="btn-theme" [class.selected]="executeFn === textRandomization"
          (click)="boxes.focus();onSelect(textRandomization)" aria-label="Text Randomization">
          shuffle Text</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'text-tools','text-manipulation', 'text-sorting']">
        <button class="btn-theme" [class.selected]="executeFn === textSorting"
          (click)="boxes.focus();onSelect(textSorting)" aria-label="Sort">Sort Text</button>
      </a>

      <a replaceUrl [routerLink]="['/', 'text-tools','text-manipulation', 'text-transposer']" (click)="executeFn = textTransposer">
        <button class="btn-theme" [class.selected]="executeFn === textTransposer"
          (click)="boxes.focus();onSelect(textTransposer)" aria-label="Transpose Text">Transpose Text</button>
      </a>

      <a replaceUrl [routerLink]="['/', 'text-tools','text-manipulation', 'text-rotator']" (click)="executeFn = textRotator">
        <button class="btn-theme" [class.selected]="executeFn === textRotator"
          (click)="boxes.focus();onSelect(textRotator)" aria-label="Rotator Text">Text Rotator</button>
      </a>

      <a replaceUrl [routerLink]="['/', 'text-tools','text-manipulation', 'text-column-formatter']"
        (click)="executeFn = textColumnFormatter">
        <button class="btn-theme" [class.selected]="executeFn === textColumnFormatter"
        (click)="boxes.focus();onSelect(textColumnFormatter)" aria-label="Transpose Text">Columnize Text</button>
      </a>

      <a replaceUrl [routerLink]="['/', 'text-tools','text-manipulation', 'text-repeater']" (click)="executeFn = textRepeater">
        <button class="btn-theme" [class.selected]="executeFn === textRepeater"
        (click)="boxes.focus();onSelect(textRepeater)" aria-label="Repeat Text">Repeat Text</button>
      </a>


      <a replaceUrl [routerLink]="['/', 'text-tools','text-manipulation', 'text-replacer']" (click)="executeFn = textReplacer">

        <button class="btn-theme" [class.selected]="executeFn === textReplacer"
        (click)="boxes.focus();onSelect(textReplacer)" aria-label="Repeat Text">Replace Text</button>
      </a>

    </div>
    <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="text"></app-result-actions-btn>
  </div>
</div>
<div class="container info" >

<ng-container *ngIf="isRoot">


  <app-conent-card [showAdd]="true">
    <h2>Text Manipulation Tools</h2>
    <p>
    Explore Our Full Suite Of Meticulous Text Manipulation Tools—.
    facilitate
    an array containing possible transformations of the given text. From reversing to precision sorting.
    Dynamic rotation, strategic column formatting — this tool suite will be your text transformation secret weapon.
    content.</p>
    
    <p>Uncover the versatility of our Text Manipulation toolbox with the following tools:</p>
    
    <ul>
    <li>
    <strong>Text Reverser</strong>: The inverse of the above character sequence is your text as you know it in reverse.
    mirror image.
    </li>
    <li>
    <strong>Text Randomization</strong>: Surprise your guests by mixing up the lineup.
    characters in your text.
    </li>
    <li>
    <strong>Text Sorting</strong>: Sortable text based on alphabetic order or numerical.
    its
    characters.
    </li>
    <li>
    <strong>Text Rotator</strong>: Play word-for-word rotations on text (left).
    engaging twist.
    </li>
    <li>
    <strong>Text Column Formatter</strong>: Create visually pleasing lines of text arranged in columns.
    with
    a chosen width.
    </li>
    <li>
    <strong>Text Repeater</strong>: Scale the impact of your text by duplicating it with ease a predefined amount of times.
    of
    times.
    </li>
    <li>
    <strong>Text Transposer</strong>: Smart switch rows and cols for something novel.
    perspective.
    </li>
    <li>
    <strong>Text Replacer</strong>: Clean your text to suit perfectly with one pass.
    alternative content.
    </li>
    </ul>
    <p>
    Stay up to date with highly curated articles which will dive deep into the finer points behind each Text Manipulation.
    tool.
    get ready for some brilliant use cases that show off the full range of these tools’ capabilities.
    text
    manipulation scenarios.</p>
    
    </app-conent-card>

    <app-conent-card>

      <h3>Text Reverser</h3>
      
      Get more from your copywriting with the Text Reverser. This flexible tool can be used for .midi-files.
      invert the character sequence in your text, thus obtaining appealing effects that can enrich your contents.
      
      Transform “Hello world!” to “!dlroW ,olleH” in seconds. This tool provides effortless experimentation in reversing text.
      Text modification, twisting, spinning, rephrasing of your messages, headlines, titles and more.
      
      Whether looking to create visual interest or just wanting something new, Text Reverser is.
      here to help. It’s great for producing unique, compelling content.
      
      </app-conent-card>
      
      <app-conent-card>
      
      <h3>Text Randomization</h3>
      <p>
      Let your imagination run wild at the hands of Text Randomization. This powerful tool gives you access to.
      shuffle the order of characters inside your string, generating unique results.
      
      Imagine “Lorem Ipsum” turned into “sumI proLe m.” Text Randomization tool is a game-changer.
      to
      Your text in the potent form of ASCII art, ready to be used as creative writing, artwork, or just some fun.
      messages.</p>
      <p>
      
      Whether your goal is a compelling social media post, an exciting caption, or a unique design.
      elements, Text Randomisation brings a really playful way of approaching text and textuality.
      possibilities.</p>
      
      </app-conent-card>
      







<app-conent-card>
    <h3>Text Sorting</h3>

    <p>Organize your textual content effortlessly with the <strong>Text Sorting</strong> device. This flexible feature permits you to
      arrange the characters to your textual content in both alphabetical or numerical order, making it less difficult to investigate and
      gift facts.</p>

    <p>Transform a jumbled sequence like "laptop" into "cemoptru" or type a listing of a long time into ascending or descending
      order. The Text Sorting device is ideal for obligations together with organizing facts, growing established lists, or getting ready
      content for presentation.</p>

    <p>Whether you are working with textual content, numbers, or a aggregate of each, the Text Sorting tool guarantees that your
      content material is smartly prepared, enhancing readability and making your information more handy to others.</p>

  </app-conent-card>

  <app-conent-card [showAdd]="true">
    <h3>Text Rotator</h3>

    <p>Rotate and transform your textual content in specific methods the use of the <strong>Text Rotator</strong> tool. With this selection,
      you
      can alternate the orientation of characters within your text, giving it a sparkling and special look.</p>

    <p>Whether you need to rotate your text ninety degrees to create vertical textual content or turn it horizontally for a reflect
      impact, the Text Rotator tool offers a range of alternatives for experimentation. This tool is specifically beneficial
      for
      adding innovative flair to your designs, banners, or social media posts.</p>

    <p>Unlock the capability of text rotation to captivate your target audience and provide your content material an revolutionary edge.
      Whether
      you are designing pics or genuinely want to face out on digital structures, the Text Rotator device has got you
      included.</p>

  </app-conent-card>

  <app-conent-card>
    <h3>Text Column Formatter</h3>

    <p>Organize and align your text neatly into columns the use of the <strong>Text Column Formatter</strong> tool. This
      characteristic permits you to adjust the width of columns, making your text content more visually appealing and easy to
      study.</p>

    <p>Whether you're developing a table, a list of items, or any content material that requires a structured layout, the Text
      Column
      Formatter tool can save you effort and time. Simply enter your textual content and specify the favored column width, and the
      tool will automatically format your textual content hence.</p>

    <p>Enhance the presentation of your text-based totally content material through utilizing the Text Column Formatter device. Whether you are
      designing files, reviews, or any shape of established statistics, this tool allows you reap a expert
      and
      prepared look.</p>

  </app-conent-card>
  <app-conent-card>

    <h3>Text Repeater</h3>

    <p>The <strong>Text Repeater</strong> tool empowers you to duplicate your text a couple of times effortlessly. Whether
      you are developing repetitive content, producing check records, or experimenting with formatting, this tool streamlines
      the manner with the aid of permitting you to specify the wide variety of repetitions.</p>

    <p>Instead of manually copying and pasting the identical textual content again and again, the Text Repeater tool automates this project.
      Simply enter your textual content and the desired variety of repetitions, and the tool will generate the duplicated text for
      you.</p>

    <p>Use the Text Repeater tool to:</p>
    <ul>
      <li>Quickly generate placeholder text for design mockups.</li>
      <li>Create pattern records for testing and development functions.</li>
      <li>Experiment with formatting versions by means of repeating text segments.</li>
      <li>Effortlessly produce styles or sequences of textual content.</li>
    </ul>

    <p>Simplify your textual content duplication obligations and raise your productivity with the Text Repeater tool.</p>

  </app-conent-card>

  <app-conent-card [showAdd]="true">


    <h3>Text Transposer</h3>

    <p>The <strong>Text Transposer</strong> device allows you to transpose rows and columns of text, making it mainly
      useful for reshaping records or rearranging content material. This device is available in on hand whilst you need to pivot statistics or
      rework
      the orientation of your textual content.</p>

    <p>Instead of manually reorganizing your textual content, the Text Transposer automates this process. Input your textual content, and the
      device will transpose rows as columns and columns as rows, imparting you with a new format.</p>

    <p>Use the Text Transposer tool to:</p>
    <ul>
      <li>Convert rows of facts into columns and vice versa.</li>
      <li>Restructure textual content-based tables for distinctive displays.</li>
      <li>Adapt records from one format to every other with out retyping.</li>
      <li>Effortlessly reshape text-primarily based facts for analysis or display.</li>
    </ul>

    <p>Simplify the technique of transposing textual content and rework the corporation of your statistics with the Text Transposer
      device.
    </p>

  </app-conent-card>


  <app-conent-card>
    <h3>Text Replacer</h3>

    <p>The <strong>Text Replacer</strong> device lets in you to update precise text inside your content, making it a
      precious application for quick making adjustments and substitutions. Whether you are correcting mistakes, updating
      information, or customizing text, this tool streamlines the process of text modification.</p>

    <p>Instead of manually searching and changing textual content throughout your content, the Text Replacer automates this venture.
      You can specify the goal textual content you want to replace and the alternative textual content you want to apply. The device will then
      test your content material and carry out the replacements, saving you effort and time.</p>

    <p>Use the Text Replacer tool to:</p>
    <ul>
      <li>Fix typographical errors and inconsistencies on your text.</li>
      <li>Update outdated records across your content.</li>
      <li>Customize template textual content for numerous functions.</li>
      <li>Efficiently replace ordinary textual content styles with out guide intervention.</li>
    </ul>

    <p>Simplify the process of text replacement and make certain your content is accurate and up-to-date with the Text
      Replacer
      tool.</p>
  </app-conent-card>
</ng-container>

<app-conent-card *ngIf="!isRoot">
  <div [innerHTML]="desccription"></div>
</app-conent-card>
</div>
</div>
