<div class="x-container">
    <h1>Text Conversion</h1>
    <div class="container">
      <label for="inputText" style="display: none;">Enter text here:</label>
      <app-in-out-text-boxes #boxes [result]="text" [storageKey]="storageKey" (onChangeEmitter)="setOriginalText($event)"></app-in-out-text-boxes>
      <div class="buttons" role="group" aria-labelledby="conversionInstructions">
        <a [routerLink]="['/','text-case-tools', 'convert-to-uppercase']">
          <button class="btn-theme" [class.selected]="executeFn === convertToUppercase" (click)="boxes.focus();onSelect(convertToUppercase)">UPPER CASE</button>
        </a>
        <a [routerLink]="['/','text-case-tools', 'convert-to-lowercase']">
          <button class="btn-theme" [class.selected]="executeFn === convertToLowercase" (click)="boxes.focus();onSelect(convertToLowercase)">lower case</button>
        </a>
        <a [routerLink]="['/','text-case-tools', 'convert-to-title-case']">
          <button class="btn-theme" [class.selected]="executeFn === convertToTitleCase" (click)="boxes.focus();onSelect(convertToTitleCase)">Title Case</button>
        </a>
        <a [routerLink]="['/','text-case-tools', 'convert-to-capitalized-case']">
          <button class="btn-theme" [class.selected]="executeFn === convertToCapitalizedCase" (click)="boxes.focus();onSelect(convertToCapitalizedCase)">Capitalized Case</button>
        </a>
        <a [routerLink]="['/','text-case-tools', 'convert-to-camel-case']">
          <button class="btn-theme" [class.selected]="executeFn === convertToCamelCase" (click)="boxes.focus();onSelect(convertToCamelCase)">camelCase</button>
        </a>
        <a [routerLink]="['/','text-case-tools', 'convert-text-to-kebab-case']">
          <button class="btn-theme" [class.selected]="executeFn === textToKebabCase" (click)="boxes.focus();onSelect(textToKebabCase)">kebab-case</button>
        </a>
        <a [routerLink]="['/','text-case-tools', 'convert-to-snake-case']">
          <button class="btn-theme" [class.selected]="executeFn === convertToSnakeCase" (click)="boxes.focus();onSelect(convertToSnakeCase)">snake_case</button>
        </a>
        <a [routerLink]="['/','text-case-tools', 'convert-to-inverse-case']">
          <button class="btn-theme" [class.selected]="executeFn === convertToInverseCase" (click)="boxes.focus();onSelect(convertToInverseCase)">InVeRsE CaSe</button>
        </a>
      </div>
      <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="text"></app-result-actions-btn>
    </div>
  </div>