    <div class="f-row mw-400px">
        <app-search-dropdown [options]="days" 
        [selected]="selectedDay+''" [placeholder]="'Selected Day'" 
    [inputAriaLabelledBy]="'Selected Day'" [listAriaLabelledBy]="'Days list'"
    [label]="'Day:'" [filterFn]="filterDaysFn" [componentId]="'selected-day'+componentId" (selectedOption)="selectedDay = $event.key;onChange()" ></app-search-dropdown>

    
    
    <app-search-dropdown [options]="months" 
    [selected]="selectedMonth+''" [placeholder]="'Selected Month'" 
    [inputAriaLabelledBy]="'Selected Month'" [listAriaLabelledBy]="'Months list'"
    [label]="'Month:'" [filterFn]="filterMonthsFn" [componentId]="'selected-month'+componentId" (selectedOption)="selectedMonth = $event.key;onMonthChange();onChange()" ></app-search-dropdown>
    
    <app-search-dropdown [options]="years" 
    [selected]="selectedYear+''" [placeholder]="'Selected Years'" 
    [inputAriaLabelledBy]="'Selected Year'" [listAriaLabelledBy]="'Years list'"
    [label]="'Year:'" [filterFn]="filterYearFn" [componentId]="'selected-year'+componentId" (selectedOption)="selectedYear = $event.key;onChange()" ></app-search-dropdown>
</div>