<!-- <a class="back-link f-row a-center" [routerLink]="['../../']"><img src="assets/images/arrow.svg" width="18" height="18" alt=""> Common Converters</a> -->
<div class="unit-container">
    <h1>{{unitType}} Converters</h1>
    <div class="container">
        <div class="user-input-cotnainer">
            <app-in-out-text-inputs [userText]="userInput" #boxes [type]="'number'"
                [placeholder]="'Enter number here...'" [result]="result" [storageKey]="storageKey"
                (onChangeEmitter)="setUserInput($event)"></app-in-out-text-inputs>
            <div class="selects-container f-row j-between">
                <div class="select-container">
                    <nav-links [selected]="linkUnitType[0]" [items]="units" [suffix]="'-to-' + linkUnitType[1]">
                    </nav-links>
                </div>
                <div class="select-container">
                    <nav-links [selected]="linkUnitType[1]" [items]="units" [prefix]="linkUnitType[0]+'-to-'">
                    </nav-links>
                </div>
            </div>
        </div>

        <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="result"></app-result-actions-btn>
    </div>
    <div class="units-box">
        <h2>Locate the Units of {{unitType}} for Conversion.</h2>
        <div class="info-conent f-col">
            <div class="dropdown f-row j-between">
                <app-search-dropdown [selected]="locatOption1" [searchQuery]="linkUnitType[0]" (selectedOption)="locatOption1 = $event.key" [options]="units" [placeholder]="'Unit Name'" [filterFn]="filterFn" [inputAriaLabelledBy]="'Locate Unit'" 
                [listAriaLabelledBy]="'Units List'" [label]="'From Unit:'" ></app-search-dropdown>
                <app-search-dropdown [selected]="locatOption2" [searchQuery]="linkUnitType[1]" (selectedOption)="locatOption2 = $event.key"  [options]="units" [placeholder]="'Unit Name'" [filterFn]="filterFn" [inputAriaLabelledBy]="'Locate Unit'" 
                [listAriaLabelledBy]="'Units List'" [label]="'To Unit:'"></app-search-dropdown>
            </div>
            <button class="btn-theme" aria-label="Apply" [disabled]="!locatOption1 || !locatOption2" (click)="applyUnits()">Apply</button>
        </div>
    </div>

    <app-poppular-links [popular]="popularUnits" [popularTitle]="'Popular '+unitType +' Units conversions'"></app-poppular-links>
    <ng-content ></ng-content>
</div>

