@import "../../../../../styles/mixins";
@import "../../../../../styles/responsive";

.back-link {
    color: #144D30;
    text-decoration: none;
    font-size: 1rem;
    img{
        transform: rotateZ(90deg);
        @include filter(invert(42%) sepia(17%) saturate(2473%) hue-rotate(101deg) brightness(91%) contrast(73%));
    }
}
.unit-container{
    width: min(600px,calc(100vw - 2rem));
    color: #144D30;
    padding-top: 2rem;
    h1{
        text-align: left;
        font-size: 1.5rem;
    }
    .container  {
        margin-top: 2rem;
        align-items: flex-start;
        align-items: center;
        .user-input-cotnainer{
            width: 100%;
            box-sizing: border-box;
            box-shadow: 0 0 2px 0px #144D30;
            background-color: #EEEEEE;
            padding: 1rem;
            border-radius: 0.5rem;
        }
    }
    .selects-container{
        width: 100%;
        flex-direction: column;
        .select-container{
            width: calc(100% - 0.5rem);
        }
    }

    
    @include mobileFirst('sm'){
        .selects-container{
            flex-direction: row;
            .select-container{
                width: calc(50% - 0.5rem);
            }
        }
    }
    @include mobileFirst('md'){
        h1{
            font-size: 2rem;
        }
    }



}