
@import '/src/styles/variables';
@import '/src/styles/mixins';
.search-dropdown {
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    label{
        font-weight: bold;
    }
    .dropdown-icon{
        position: absolute;
        right: 0.5rem;
        top: 46%;
        cursor: pointer;
        @include filter(invert(22%) sepia(55%) saturate(626%) hue-rotate(97deg) brightness(88%) contrast(88%)); // primary-color-filter
        transition: transform 0.25s;
        &.opened{
            transform: rotateX(180deg);
        }
    }
    .search-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
    }

    .options-list {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        top: calc(100% + 4px);
        border-radius: 0 0 4px 4px;
        max-height: 0;
        overflow-y: auto;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        transition: all 0.25s;
        opacity: 0;
        &.shown{
            max-height: 150px;
        opacity: 1;
          box-shadow: 0 0 4px $primary-color;
        }
        li {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            &:hover {
                background-color: #f0f0f0;
            }
            &.selected{
                background-color: $primary-color !important;
                color: white;
                cursor: default;
            }
 
        }
    }

}