@import "../../../styles/responsive";
@import "../../../styles/mixins";
@import '/src/styles/variables';


.x-container {
    flex-direction: row !important;
    justify-content: center;
    align-items: flex-start;
    @include mobileFirst("xxxl") {
        padding: 2rem max(1rem, 50vw - 496px);
        padding-top: 1rem;
    }
    .router-container {
        position: relative;
    }

    .green-icon {
        @include filter(invert(20%) sepia(9%) saturate(4409%) hue-rotate(101deg) brightness(95%) contrast(84%));
    }

    .links-list {
        position: absolute;
        top: 65px;
        right: 0;
        border: 1px solid $primary-color;
        padding: 0.25rem 1rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        color: $primary-color;
        box-sizing: border-box;
        img{
            margin-left: 0.5rem;
        }
        &.root{
            top: -8px;
        }
        @media screen and (hover:hover) {
            &:hover{
                background-color: $primary-color;
                color: #f7f3ff;
                img{
                    @include filter(brightness(0) saturate(100%) invert(95%) sepia(10%) saturate(1365%) hue-rotate(187deg) brightness(104%) contrast(101%));
                }
            }
        }
        &:active{
            background-color: $primary-color;
            color: #f7f3ff;
            img{
                @include filter(brightness(0) saturate(100%) invert(95%) sepia(10%) saturate(1365%) hue-rotate(187deg) brightness(104%) contrast(101%));
            }
        }
    }



    @include mobileFirst('lg') {
        width: max-content;
        .links-container{
            margin-left: 6rem;
            margin-top: 6.7rem;
        }
        .links-list {
            display: none;
        }
    }



}