<div class="x-container f-row">
    <div class="router-container">
        <router-outlet></router-outlet>
         <button class="links-list btn-resting c-pointer f-row a-center"aria-label="Units List Pages"  (click)="links_view?.showLinksModal();$event.stopPropagation()">
            Units List
            <img class="green-icon" width="32" height="32" src="assets/images/modal.svg" alt=""></button>
    </div>

    <div class="links-container">
        <app-links-view  [parentPath]="['unit-converters']" [pages]="pages" [title]="'Common Converters'"  #links_view></app-links-view>
    </div>
</div>