@import "../../../styles/responsive";
@import "../../../styles/mixins";
$theme-color: #144D30;

.x-container {
    flex-direction: row !important;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;

    .router-container {
        position: relative;
    }

    .green-icon {
        @include filter(invert(20%) sepia(9%) saturate(4409%) hue-rotate(101deg) brightness(95%) contrast(84%));
    }

    .shor-converters {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        li {
            line-height: 1.5;
            height: max-content;
            a{
                width: 100%;
                padding: 0.25rem;
                display: inline-block;
                box-sizing: border-box;
                transition: all 0.25s;
                background-color: transparent;
                border: 1px solid #ccc;
                &.active{
                    background-color: #144D30;
                    color: white;
                    border-color: #144D30;
                }
            }
        }
    }

    .links-conainer {
        width: 300px;
        border-radius: 0.25rem;
        border: 2px solid $theme-color;
        position: fixed;
        bottom: calc(100% + 200px);
        left: 50%;
        transition: all 0.4s ease-out;
        transform: translate(-50%,50%);
        background-color: #f7f3ff;
        z-index: 1001;
        opacity: 0;
        box-shadow: 0 0 10px #144D30;


        .conainer-title {
            background-color: #EEEEEE;
            color: $theme-color;
            padding: 0.5rem;
            margin: 0;
        }

        a {
            color: $theme-color;
            font-size: 1rem;
            text-decoration: none;
        }

        &.show-modal {
            bottom: 50%;
            opacity: 1;
        }
    }

    .shadow {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba($color: #333, $alpha: 0.8);
        z-index: -1;
        box-sizing: border-box;
        button{
            position: absolute;
            top: 1rem;
            right: 1rem;
            img{
                @include filter(invert(100%))
            }
        }
        &.show {
            z-index: 1000;
        }
    }

    @include mobileFirst('lg') {
        width: max-content;

        .shadow {
            display: none;
        }

        .links-conainer {
            position: static !important;
            opacity: 1;
            margin-left: 6rem;
            margin-top: 6.2rem;
            transform: unset;
            box-shadow: unset;
            z-index: unset;
        }

        .shor-converters {
            display: none;
        }
    }


}