@import "../../../styles/responsive";
@import '/src/styles/variables';

.unit-container {
    width: min(600px, 90vw);
    color: $primary-color;

    h1 {
        text-align: left;
    }

    .container {
        margin-top: 2rem;
    }

    .selects-container{
        width: 100%;
        flex-direction: column;
        .select-container{
            width: calc(100% - 0.5rem);
        }
    }

    
    @include mobileFirst('sm'){
        .selects-container{
            flex-direction: row;
            .select-container{
                width: calc(50% - 0.5rem);
            }
        }
    }

    h2 {
        margin-bottom: 0;
        margin-top: 2rem;
    }

}