.x-container {
    flex-direction: row !important;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    .links-conainer {
        width: 300px;
        min-height: 400px;
        border-radius: 0.25rem;
        border: 2px solid #228855;
        margin-left: 2rem;
    }
    .conainer-title{
        background-color: #228855;
        color: white;
        padding: 0.5rem;
    }
}