<app-generic-units-converter [conversionRate]="conversionRate" [popularUnits]="popularUnits" [units]="units" (updateResult)="updateResult($event)"
     [linkUnitType]="linkUnitType" [result]="result" [unitType]="'Fuel Consumption'">
     <section id="fuel-consumption-converter" aria-label="Fuel Consumption Converter Description">

        <h2>Fuel Consumption Converter</h2>
   
        <p>
            The Fuel Consumption Converter is a powerful converter that converts fuel consumption units from one measurement system into another. It’s vital for applications ranging from automotive to transportation to energy efficiency rating (EER).
        </p>
   
        <p>
            Using the fuel consumption converter couldn’t be simpler. Follow these steps to accurately convert fuel consumption values:
        </p>
   
        <ol>
            <li>Enter what you want to convert in the input form. This value is the price per mile you want to convert.</li>
            <li>Choose from the “From” drop-down the unit you want to transform. Specifying the initial measure of fuel consumption unit.</li>
            <li>Select the desired unit from the “To” select box. This specifies conversion units, e.g., MPG to L/100km.</li>
            <li>Converted: Convert to display the equivalent on the result field which show up real time as accurate fuel consumption.</li>
        </ol>
   
        <p>
            For instance, you can use it to convert <strong>{{linkUnitLabels[0]}} to {{linkUnitLabels[1]}}</strong>,
             so enter your value into <strong>{{linkUnitLabels[0]}}</strong> field under “From” unit category of <strong>{{linkUnitLabels[0]}} to {{linkUnitLabels[1]}}</strong>
               in “TO” units category, you will see your equivalent fuel consumption rate {{linkUnitLabels[1]}}.

        </p>
        <p>
            Fuel Consumption Converter covers all the units you’re likely to come across in your daily life, from MPG to L/100 km, km/G to more — making it an essential app for every driver, automotive engineer, green activist, and anyone else
        </p>
   </section>
   <br>
   <br>
   
   <ng-container *ngFor="let unitDescription of unitsDescription" >
    <div [innerHTML]="unitDescription"></div>
    <br>
</ng-container>
   



</app-generic-units-converter>