@import "src/styles/responsive";

:host {
    width: 100%;
}

.img-container {
    width: 100%;
    margin: 0 auto;
    .attribution {
        font-size: 11px;
        color: #999;

        a {
            font-size: 11px;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}