<div class="parent">
  <div class="x-container">

      <h1 #title>Text Conversion</h1>
      <div class="container" #content>
        <div class="input-container">
        </div>

        <app-in-out-text-boxes #boxes [result]="text" [storageKey]="storageKey"
          (onChangeEmitter)="setOriginalText($event)"></app-in-out-text-boxes>
        <div class="buttons" role="group" aria-labelledby="conversionInstructions">
          <a replaceUrl [routerLink]="['/','text-tools', 'text-case-converter', 'convert-to-uppercase']">
            <button class="btn-theme" [class.selected]="executeFn === convertToUppercase"
              (click)="boxes.focus();onSelect(convertToUppercase)" aria-label="UPPER CASE">UPPER CASE</button>
          </a>
          <a replaceUrl [routerLink]="['/','text-tools', 'text-case-converter', 'convert-to-lowercase']">
            <button class="btn-theme" [class.selected]="executeFn === convertToLowercase"
              (click)="boxes.focus();onSelect(convertToLowercase)" aria-label="lower case">lower case</button>
          </a>
          <a replaceUrl [routerLink]="['/','text-tools', 'text-case-converter', 'convert-to-title-case']">
            <button class="btn-theme" [class.selected]="executeFn === convertToTitleCase"
              (click)="boxes.focus();onSelect(convertToTitleCase)" aria-label="Title Case">Title Case</button>
          </a>
          <a replaceUrl [routerLink]="['/','text-tools', 'text-case-converter', 'convert-to-capitalized-case']">
            <button class="btn-theme" [class.selected]="executeFn === convertToCapitalizedCase"
              (click)="boxes.focus();onSelect(convertToCapitalizedCase)" aria-label="Capitalized Case">Capitalized
              Case</button>
          </a>
          <a replaceUrl [routerLink]="['/','text-tools', 'text-case-converter', 'convert-to-camel-case']">
            <button class="btn-theme" [class.selected]="executeFn === convertToCamelCase"
              (click)="boxes.focus();onSelect(convertToCamelCase)" aria-label="camelCase">camelCase</button>
          </a>
          <a replaceUrl [routerLink]="['/','text-tools', 'text-case-converter', 'convert-to-kebab-case']">
            <button class="btn-theme" [class.selected]="executeFn === textToKebabCase"
              (click)="boxes.focus();onSelect(textToKebabCase)" aria-label="kebab-case">kebab-case</button>
          </a>
          <a replaceUrl [routerLink]="['/','text-tools', 'text-case-converter', 'convert-to-snake-case']">
            <button class="btn-theme" [class.selected]="executeFn === convertToSnakeCase"
              (click)="boxes.focus();onSelect(convertToSnakeCase)" aria-label="snake_case">snake_case</button>
          </a>
          <a replaceUrl [routerLink]="['/','text-tools', 'text-case-converter', 'convert-to-inverse-case']">
            <button class="btn-theme" [class.selected]="executeFn === convertToInverseCase"
              (click)="boxes.focus();onSelect(convertToInverseCase)" aria-label="InVeRsE CaSe">InVeRsE CaSe</button>
          </a>
        </div>
        <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="text"></app-result-actions-btn>
      </div>

  </div>
  <div class="container info">

    <ng-container *ngIf="isRoot">

      <app-conent-card [showAdd]="true">
        <h2>Explore Text Conversion Tools</h2>

        <p>Unleash the energy of text transformation with our numerous Text Conversion gear. Whether you're striving to
          tweak
          text aesthetics, decorate clarity, or align with coding conventions, our range of equipment is at your
          disposal:
        </p>

        <ul>
          <li>
            <strong>Convert to Uppercase</strong>: Transform your text right into a commanding display of capital letters.
            Ideal
            for
            headers and emphasis.
          </li>
          <li>
            <strong>Convert to Lowercase</strong>: Ease the tone with lowercase letters, ideal for a pleasant and
            approachable vibe.
          </li>
          <li>
            <strong>Convert to Title Case</strong>: Elevate your textual content's professionalism by capitalizing the preliminary
            letter
            of
            each word.
          </li>
          <li>
            <strong>Convert to Capitalized Case</strong>: Highlight the start of every word, lending a cultured contact to
            your
            text.
          </li>
          <li>
            <strong>Convert to Camel Case</strong>: Forge variable-friendly textual content with the aid of merging words and capitalizing each
            mixed phrase's initial letter.
          </li>
          <li>
            <strong>Convert to Kebab Case</strong>: Craft web-friendly URLs with the aid of setting apart words with hyphens, promoting
            search engine optimization
            and readability.
          </li>
          <li>
            <strong>Convert to Snake Case</strong>: Adhere to programming conventions with phrases connected by means of
            underscores,
            improving code clarity.
          </li>
          <li>
            <strong>Convert to Inverse Case</strong>: Create a visually putting impact by using flipping the case of every
            letter
            in
            your textual content.
          </li>
        </ul>

        <p>Stay tuned as we delve into every Text Conversion approach, supplying insights into their mechanics, real-international
          packages, and steerage on efficaciously using those tools to optimize your textual content for numerous contexts.</p>

      </app-conent-card>

      <app-conent-card>
        <h3>Convert to Uppercase</h3>

        <p>Elevate your textual content's impact through remodeling it into ambitious uppercase letters. This technique is perfect for making
          critical messages, headings, or titles stand out. With just a few clicks, you may without problems transfer your textual content to
          uppercase, giving it a commanding and attention-grabbing look.</p>

        <p>Whether you're seeking to add emphasis, create visible assessment, or absolutely select the aesthetic of uppercase
          letters, the Convert to Uppercase tool is right here to assist you. Say goodbye to guide retyping and permit this device
          swiftly take care of the conversion for you.</p>
      </app-conent-card>

      <app-conent-card>
        <h3>Convert to Lowercase</h3>

        <p>Transition your textual content to lowercase for a more comfortable and casual feel. By the usage of the Convert to Lowercase device,
          you
          can effortlessly rework your textual content into lowercase letters, growing a softer and extra approachable tone.</p>

        <p>This approach is ideal for conditions where you want to convey a feel of casualness, friendliness, or
          simplicity.
          Whether you're working on paragraphs of text or man or woman words, the Convert to Lowercase device streamlines
          the
          procedure and guarantees consistent formatting during your content material.</p>
      </app-conent-card>

      <app-conent-card [showAdd]="true">
        <h3>Convert to Title Case</h3>

        <p>Add a touch of professionalism on your text with the aid of capitalizing the primary letter of every word the usage of the Convert
          to
          Title Case tool. This approach is perfect for creating nicely-established headings, subheadings, or titles that
          adhere
          to
          wellknown capitalization guidelines.</p>

        <p>With the Convert to Title Case tool, you not want to manually alter the capitalization of every word.
          Whether
          you are writing articles, displays, or every other type of content, this tool ensures that your textual content seems
          polished and regular.</p>

        <p>Elevate your content's readability and make a high-quality influence with text that follows proper name case
          formatting.</p>

      </app-conent-card>
      <app-conent-card>

        <h3>Convert to Capitalized Case</h3>

        <p>Make every phrase's first letter stand out with the Convert to Capitalized Case tool. This method permits you to
          rework your textual content so that the primary letter of every word is capitalized, whilst the relaxation of the letters remain
          in
          lowercase.</p>

        <p>Capitalized Case is normally used for headings, subheadings, and titles. It offers a balanced and visually
          attractive fashion that complements the overall presentation of your content material.</p>

        <p>With the Convert to Capitalized Case device, you may obtain steady and professional formatting with out the
          need
          for manual adjustments. Whether you're crafting weblog posts, reports, or other written materials, this device
          streamlines the system and ensures a refined look.</p>
      </app-conent-card>

      <app-conent-card>

        <h3>Convert to Camel Case</h3>

        <p>Create variable-pleasant text via using the Convert to Camel Case device. This approach lets in you to mix
          phrases
          and
          capitalize the primary letter of each blended word, even as putting off spaces or separators.</p>

        <p>Camel Case is typically utilized in programming and coding to name variables, functions, and identifiers. By
          following
          this naming convention, your code becomes greater readable and concise.</p>

        <p>With the Convert to Camel Case device, you could speedy transform text into a format this is most appropriate for coding
          functions. Say good-bye to manual formatting and revel in the efficiency of robotically generating Camel Case
          text.
        </p>
      </app-conent-card>
      <app-conent-card>


        <h3>Convert to Kebab Case</h3>

        <p>Generate net-friendly URLs and identifiers via the usage of the Convert to Kebab Case tool. This technique permits you to
          remodel your text via changing areas or separators with hyphens, ensuing in a format usually used in
          URLs,
          filenames, and CSS instructions.</p>

        <p>Kebab Case is right for creating consumer-pleasant and seek engine optimized URLs. It helps improve the
          clarity
          of URLs and ensures compatibility across diverse web structures.</p>

        <p>With the Convert to Kebab Case tool, you can seamlessly prepare textual content for online use without annoying approximately
          formatting problems. Enhance the usability and accessibility of your net content with the aid of adopting constant and
          consumer-friendly URLs.</p>
      </app-conent-card>

      <app-conent-card>

        <h3>Convert to Snake Case</h3>

        <p>Follow programming conventions and improve code readability with the aid of the usage of the Convert to Snake Case tool. This
          method
          allows you to transform your textual content by way of changing spaces or separators with underscores, resulting in a layout
          usually
          used in variable names, feature names, and report names in programming.</p>

        <p>Snake Case is broadly used in various programming languages to name variables and identifiers. It enables
          separate
          words actually and ensures that code stays prepared and steady.</p>

        <p>With the Convert to Snake Case device, you can without problems adopt a naming conference that aligns with programming
          first-rate
          practices. Simplify your coding technique and decorate the readability of your code by means of utilising this efficient
          transformation method.</p>
      </app-conent-card>
    </ng-container>

    <app-conent-card *ngIf="!isRoot">
      <div [innerHTML]="desccription"></div>
    </app-conent-card>

  </div>
</div>