@import '../../../styles/responsive';
@import "../../../styles/mixins";

:host {
    width: 100%;
}

.boxes {
    width: 100%;
    .input-container{
        width: 100%;
    }
    input {
        vertical-align: top;
        width: 100%;
        height: 60px;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #005522;
        background: white;
        color: black;
        resize: none;
        outline: none;
        margin-bottom: 20px;
        border-radius: 8px;
        box-sizing: border-box;

        &:first-child {
            margin-bottom: 1rem;
        }

        &:read-only {
            background-color: #dcdcdc;
            border-color: #dcdcdc;
            color: #000000;
            cursor: default;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
        -moz-appearance: textfield;
    }

    .switch{
        @include filter(invert(42%) sepia(17%) saturate(2473%) hue-rotate(101deg) brightness(91%) contrast(73%));
    }

    @include mobileFirst('xsm'){
        flex-direction: row;
        justify-content: space-between;
        .input-container{
            width: calc(50% - 1.5rem);
        }
    }
    @include mobileFirst('mlg'){
        .input-container{
            font-size: 1.25rem;
        }
    }

}