<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8746065127850305"
    crossorigin="anonymous"></script> -->
<!-- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8746065127850305" data-ad-slot="1432195349"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

<div class="boxes f-col a-center">
    <div class="input-container f-col">
        <label for="input_1">From:</label>
        <input id="input_1" [type]="type" type="number" #input_area [(ngModel)]="userText" (keyup)="onInputChange()"
            [placeholder]="placeholder" aria-label="Input Text" aria-describedby="conversionInstructions">
    </div>
    <a class="btn-resting c-pointer" [routerLink]="['../',switchLink]" aria-label="Switch units">
        <img class="switch" src="assets/images/switch.svg" height="16" width="20" alt="">
    </a>
    <div class="input-container f-col">
        <label for="input_1">To:</label>
        <input [(ngModel)]="result" readonly placeholder="Converted result will appear here..." aria-label="result Text"
            aria-describedby="conversionInstructions">
    </div>

</div>