<app-generic-units-converter [conversionRate]="conversionRate" [popularUnits]="popularUnits" [units]="units"
    (updateResult)="updateResult($event)" [linkUnitType]="linkUnitType" [result]="result" [unitType]="'Power'">

    <section id="power-converter" aria-label="Power Converter Description">
        <h2>Power Converter</h2>
      

        <p>
            Power Converter converts power measurement units into desired ones! . It is useful in different fields such
            as engineering, physics, power management, and the automotive industry.
        </p>

        <p>
            It’s pretty easy to do. Follow these steps to accurately convert power values:

        </p>

        <ol>
            <li>Enter the amount you would like to convert into the input field. This is your power to be converted!
            </li>
            <li>From the Convert from dropdown select the unit you want to convert. This defines what constitutes an
                initial unit of power.</li>
            <li>Choose from the dropdown “To” what unit you wish converted into. This indicates whether we want to
                convert into Power Unit (POWER Unit — like converting Watts (W) to Horses Power (HP)) or not.</li>
            <li>The converted value shows in a result field and gives correct power conversion.</li>
        </ol>

        <p>        In this case, you would want to convert your power value from <strong>{{linkUnitLabels[0]}} into {{linkUnitLabels[1]}}</strong>, 
            so plug in the power value in <strong>{{linkUnitLabels[0]}}</strong>, select <strong>“{{linkUnitLabels[0]}}“</strong> as the “From” unit, and <strong>“{{linkUnitLabels[0]}}“</strong>
             Convert and we’ll show you the power
            value converted to <strong>{{linkUnitLabels[1]}}</strong>.</p>

        <p>  It converts the power into various units, i.e., watts, kilowatts, megawatts, horsepower, and many others; hence
            it is a highly useful device for engineers, energy analyst, and all those specialized in energy domains.</p>
    </section>
    <br>
    <br>

    <ng-container *ngFor="let unitDescription of unitsDescription">
        <div [innerHTML]="unitDescription"></div>
        <br>
    </ng-container>
</app-generic-units-converter>