<app-generic-units-converter [popularUnits]="popularUnits" [units]="units" (updateResult)="updateResult($event)"
     [linkUnitType]="linkUnitType" [result]="result" [unitType]="'Power'">

     <section id="energy-converter" aria-label="Energy Converter Description">
          <h2>Energy Converter</h2>
          
          <p>The Energy Converter is a versatile tool that allows you to convert measurements of energy from one unit to another. It plays a crucial role in various fields, including physics, engineering, and environmental sciences, where precise energy conversions are essential.</p>
          
          <p>Using the Energy Converter is straightforward. Follow these steps:</p>
          
          <ol>
              <li>Enter the value you want to convert in the input field.</li>
              <li>Select the unit you are converting from in the "From" dropdown list.</li>
              <li>Select the unit you want to convert to in the "To" dropdown list.</li>
              <li>The converted value will be displayed in the result field.</li>
          </ol>
          
          <p>For example, if you need to convert megawatts (MW) to gigawatts (GW), enter the value in megawatts, select "Megawatt" as the "From" unit, and "Gigawatt" as the "To" unit. Click "Convert," and you will see the equivalent energy in gigawatts.</p>
          
          <p>The Energy Converter supports a wide range of energy units, including kilowatts (kW), megawatts (MW), gigawatts (GW), terawatts (TW), and watts (W), making it an invaluable tool for scientists, engineers, students, and professionals working with energy-related calculations.</p>
      </section>
<br>
      <br>

      <ng-container *ngFor="let unitDescription of unitsDescription" >
        <div [innerHTML]="unitDescription"></div>
        <br>
    </ng-container>
</app-generic-units-converter>