<app-generic-units-converter [popularUnits]="popularUnits" [units]="units" (updateResult)="updateResult($event)"
    [linkUnitType]="linkUnitType" [result]="result" [unitType]="'Length'">

    <section id="length-converter" aria-label="Length Converter Description">
        <h2>Length Converter</h2>

        <p>The Length Converter is a tool that allows you to convert measurements of length or distance from one unit to
            another. It is especially useful when you need to work with different length units for various purposes,
            including science, engineering, construction, and everyday measurements.</p>

        <p>The Length Converter is designed to handle conversions between these and many other length units, making it a
            valuable tool for both professionals and students who need precise length measurements in various contexts.
        </p>

        <h3>How to Use the Length Converter</h3>

        <p>Using the Length Converter is straightforward. Simply follow these steps:</p>

        <ol>
            <li>Enter the value you want to convert in the input field.</li>
            <li>Select the unit you are converting from in the "From" dropdown list.</li>
            <li>Select the unit you want to convert to in the "To" dropdown list.</li>
            <li>The converted value will be displayed in the result field.</li>
        </ol>

        <p>For example, if you want to convert 5 kilometers to miles, enter "5" in the input field, select "Kilometer"
            as the "From" unit, and "Mile" as the "To" unit. Click "Convert," and you will see the equivalent distance
            in miles.</p>

        <p>Whether you're working on scientific research, engineering projects, or simply need to convert everyday
            measurements, the Length Converter is a valuable tool for ensuring accurate and efficient conversions
            between different length units.</p>
    </section>
    <br><br>
    <ng-container *ngFor="let unitDescription of unitsDescription">
        <div [innerHTML]="unitDescription"></div>
        <br>
   </ng-container>  

</app-generic-units-converter>