@import "../../../../styles/responsive";

h2{
    margin-bottom: 1rem;
    margin-top: 2rem;
}
ul{
    padding: 0;
    list-style-type: none;
    line-height: 1.5;
    li{
        margin-bottom: 0.5rem;
    }
    &:first-child{
        margin-right: 2rem;
    }
    a{
        font-size: 1rem;
        text-decoration: none;
        color: #144D30;
    }
}
