h2{
    margin-bottom: 0;
    margin-top: 2rem;
}
ul{
    padding: 0;
    list-style-type: none;
    line-height: 1.5;
    &:first-child{
        margin-right: 2rem;
    }
    a{
        font-size: 1.25rem;
        text-decoration: none;
        color: #228855;
    }
}

.pair-with-meter{
    .convert-label{
        color: black;
        font-weight: bold;
        font-size: 1.25rem;
    }
    ul li {
        &:not(:first-child){
            margin-top: 0.5rem;
        }
        .f-row :first-child{
            margin-right: 1rem;
        }
    }

}