@import '/src/styles/responsive.scss';

.result {
    margin-top: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 8px;
    max-width: 436px;

    .copy-btn{
        margin: 0.5rem 0;
    }


    @include mobileFirst('xsm') {
            grid-template-columns: 1fr 1fr 1fr;

            button {
                height: 40px;
                font-size: 1rem;
            }

            .copy-btn{
                margin: 0;
            }

    }

    @include mobileFirst('sm') {
        margin-top: 4rem;
        .buttons {
            grid-template-columns: repeat(4, 1fr);
        }

    }
}