@import './styles/flex';
@import "./styles/responsive";
$theme-color: #f7f3ff;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: $theme-color;
  background-color: $theme-color;  

  a {
    text-decoration: none;
  }

  .x-container {
    background: $theme-color;
    color: #144D30;
    box-sizing: border-box;
    padding-bottom: 2rem;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem max(1rem, calc(50vw - 500px));
    @include mobileFirst("mlg") {
      padding: 2rem max(1rem, 50vw - 520px) 2rem max(1rem, 50vw - 450px);
    }

    @include mobileFirst("xl") {
      padding: 2rem max(1rem, 50vw - 600px) 2rem max(1rem, 50vw - 540px);
    }

    @include mobileFirst("xxl") {
      padding: 2rem max(1rem, 50vw - 690px);
    }
    h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 0;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      max-width: min(900px,calc(100vw - 2rem));
      .buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        width: 100%;
        font-size: 12px;
        button{
          width: 100%;
        }
      }
    }
  
    @include mobileFirst('xsm') {
      .container {
        margin-top: 3rem;
  
        button {
          font-size: 1rem;
        }
      }
    }
  
    @include mobileFirst('md') {
      .container {
        margin-top: 5rem;
  
        .buttons {
          grid-template-columns: repeat(3, 1fr);
        }
  
      }
  
      @include mobileFirst('mlg') {
        .container {
          margin-top: 5rem;
          max-width: unset;
          max-width: 1155px;
  
          .buttons {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
  
    }
  }
  .btn-theme {
    padding: 6px;
    background: #144D30;
    color: #F7F3FF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    height: 40px;
    transition: all 0.35s,color 0.1s;
    &.selected {
      background: #F7F3FF;
      color: #144D30;
      border-color:  #144D30;
      box-shadow: 0 0 10px #144D30;
    }
    &:not(:disabled){

      @media (hover: hover) {
        &:hover{
          box-shadow: 0 0 10px #144D30;
        }
      }
      &:active {
        transform: scale(0.95);
      }
    }
    &:disabled{
      background-color: #618f77;
      cursor: default;
    }
  }

}
body,.custom-hover{

  &::-webkit-scrollbar {
    background: #c1c1c1;
    border-radius: 10px;
    max-width: 6px;
  }
  
  
  &::-webkit-scrollbar-track {
    background: #e7e7e7;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #9a9a9a;
    border-radius: 3px;
    max-width: 2px;
  }
}


.c-pointer {
  cursor: pointer;
}

.btn-resting {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}