<div class="x-container">
    <h1>Distance Converters</h1>
    <div class="container">
      <app-in-out-text-inputs #boxes [type]="'number'" [result]="text" [storageKey]="storageKey"
        (onChangeEmitter)="setOriginalText($event)"></app-in-out-text-inputs>
      <div class="buttons" role="group" aria-labelledby="conversionInstructions">
       
        <a [routerLink]="['/','distance-converters', 'miles-to-kilometers']">
            <button class="btn-theme" [class.selected]="executeFn === milesToKilometers" (click)="boxes.focus();onSelect(milesToKilometers)">Miles to Kilometers</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'kilometers-to-miles']">
            <button class="btn-theme" [class.selected]="executeFn === kilometersToMiles" (click)="boxes.focus();onSelect(kilometersToMiles)">Kilometers to Miles</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'feet-to-meters']">
            <button class="btn-theme" [class.selected]="executeFn === feetToMeters" (click)="boxes.focus();onSelect(feetToMeters)">Feet to Meters</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'meters-to-feet']">
            <button class="btn-theme" [class.selected]="executeFn === metersToFeet" (click)="boxes.focus();onSelect(metersToFeet)">Meters to Feet</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'yards-to-meters']">
            <button class="btn-theme" [class.selected]="executeFn === yardsToMeters" (click)="boxes.focus();onSelect(yardsToMeters)">Yards to Meters</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'meters-to-yards']">
            <button class="btn-theme" [class.selected]="executeFn === metersToYards" (click)="boxes.focus();onSelect(metersToYards)">Meters to Yards</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'inches-to-centimeters']">
            <button class="btn-theme" [class.selected]="executeFn === inchesToCentimeters" (click)="boxes.focus();onSelect(inchesToCentimeters)">Inches to Centimeters</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'centimeters-to-inches']">
            <button class="btn-theme" [class.selected]="executeFn === centimetersToInches" (click)="boxes.focus();onSelect(centimetersToInches)">Centimeters to Inches</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'millimeters-to-inches']">
            <button class="btn-theme" [class.selected]="executeFn === millimetersToInches" (click)="boxes.focus();onSelect(millimetersToInches)">Millimeters to Inches</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'inches-to-millimeters']">
            <button class="btn-theme" [class.selected]="executeFn === inchesToMillimeters" (click)="boxes.focus();onSelect(inchesToMillimeters)">Inches to Millimeters</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'centimeters-to-meters']">
            <button class="btn-theme" [class.selected]="executeFn === centimetersToMeters" (click)="boxes.focus();onSelect(centimetersToMeters)">Centimeters to Meters</button>
          </a>
          <a [routerLink]="['/','distance-converters', 'meters-to-centimeters']">
            <button class="btn-theme" [class.selected]="executeFn === metersToCentimeters" (click)="boxes.focus();onSelect(metersToCentimeters)">Meters to Centimeters</button>
          </a>

          
      </div>
      <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="text"></app-result-actions-btn>
    </div>
  </div>
  