<div class="parent">
  <div class="x-container">
    <h1>Age Calculator</h1>
    <div class="container " #content>
      <div class="calcolator-container w-100p">
        <div class="form-container">
          <div class="form-content">
            <div class="date-container mb-24px f-row a-center j-between">
              <strong class="label">Date of Birth:</strong>
              <app-date-selector [selectedYear]="prevYear"
              (onChangeEmitter)="onStartDateChange($event)"></app-date-selector>
            </div>
            <div class="date-container f-row a-center j-between">
              <strong class="label">Age at the Date of:</strong>
              <app-date-selector (onChangeEmitter)="onEndDateChange($event)"></app-date-selector>
            </div>
          </div>
        </div>
        <div class="result">
          <h2>Age:</h2>
          <p>{{ result.years  | number: '1.0-0'}} years <span *ngIf="result.months % 12 > 0"> {{ result.months % 12 }} months</span> </p>
          <p>{{ result.months  | number: '1.0-0'}} months <span *ngIf=" result.days % 30 > 0">{{ result.days % 30 }} days</span> </p>
          <p>{{ result.weeks  | number: '1.0-0'}} weeks <span *ngIf="result.days % 7 > 0">{{ result.days % 7 }} days</span> </p>
          <p>{{ result.days  | number: '1.0-0'}} days</p>
          <p>{{ result.hours  | number: '1.0-0'}} hours</p>
          <p>{{ result.minutes  | number: '1.0-0'}} minutes</p>
          <p>{{ result.seconds  | number: '1.0-0'}} seconds</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container info">
    <app-conent-card>
      <section id="introduction-to-age" aria-label="Introduction to Age">
        <h2>Introduction to Age</h2>
        <p>
          Age is a fundamental issue of human lifestyles, marking the passage of time and the degrees of growth and
          improvement. It is a degree of the quantity of years a person has lived, and it performs a sizeable function in
          shaping man or woman studies and societal dynamics.
        </p>
        <p>
          From the moment we are born, age affects our physical, cognitive, and emotional development. It impacts our
          interactions with others, our roles in society, and our expectancies for the destiny. Age is a multidimensional
          concept that encompasses biological, chronological, and mental dimensions.
        </p>
        <p>
          In this exploration of age, we will delve into the numerous styles of age, factors that influence growing old, and the
          profound consequences it has on individuals and societies. Whether you are inquisitive about the biology of growing older, the
          psychology of age-associated changes, or the cultural and societal dimensions of age, this adventure into the
          concept of age will offer precious insights.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="types-of-age" aria-label="Types of Age">
        <h2>Types of Age</h2>
        <p>
          Age is a multifaceted idea with specific dimensions that offer specific insights into human improvement
          and reviews. Understanding these various kinds of age facilitates us admire the complexity of the growing older
          system and its effect on people and societies.
        </p>
        <p>
          - <strong>Biological Age:</strong> Biological age is a degree of ways nicely the body capabilities with regards to a
          man or woman's chronological age. It takes into consideration physical and physiological factors including standard health,
          organ feature, and mobile growing old.
        </p>
        <p>
          - <strong>Chronological Age:</strong> Chronological age is the most effective form of age measurement, representing
          the wide variety of years someone has lived considering that beginning. It serves as a baseline for lots age-related calculations
          and determinations.
        </p>
        <p>
          - <strong>Psychological Age:</strong> Psychological age refers to an man or woman's cognitive and emotional
          development in contrast to others of the identical chronological age. It displays one's mental and emotional
          adulthood.
        </p>
        <p>
          These extraordinary styles of age offer treasured perspectives at the getting older manner. They make a contribution to our
          understanding of the way age affects bodily fitness, cognitive abilities, emotional properly-being, and universal existence
          reviews.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="factors-influencing-age" aria-label="Factors Influencing Age">
        <h2>Factors Influencing Age</h2>
        <p>
          The idea of age isn't completely decided by way of the passage of time. Several factors have an effect on how individuals
          age and the variations in their getting old reports. Understanding those factors is essential for comprehending
          the complexities of the aging technique and its consequences on human life.
        </p>
        <p>
          - <strong>Genetics:</strong> Genetics plays a widespread role in determining factors of age, along with how
          lengthy someone may also live and their susceptibility to positive diseases. Genetic factors can have an effect on the price of
          ageing and the likelihood of experiencing age-related situations.
        </p>
        <p>
          - <strong>Lifestyle Choices:</strong> Lifestyle picks which includes food regimen, workout, smoking, and alcohol
          consumption can profoundly impact the getting older system. Healthy habits can promote sleek getting old, at the same time as
          bad alternatives might also accelerate age-related adjustments.
        </p>
        <p>
          - <strong>Environmental Factors:</strong> Environmental factors, such as publicity to pollutants, pollution, and
          stressors, can impact the growing old trajectory. Environmental situations can have an effect on the fee at which
          age-associated modifications occur.
        </p>
        <p>
          These are only a few of the elements that make contributions to the complex nature of age. By exploring the roles
          genetics, life-style, and the environment play in the getting older technique, we gain a deeper understanding of the
          dynamics of getting old and its implications for individuals and society.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="aging-process" aria-label="Aging Process">
        <h2>Aging Process</h2>
        <p>
          The growing old process is a herbal and inevitable part of the human journey. It contains a huge range of
          bodily, cognitive, and emotional modifications that occur over time. Understanding how ageing unfolds is critical
          for people to conform and make informed selections approximately their well-being as they grow older.
        </p>
        <p>
          - <strong>Physical Changes:</strong> As humans age, they may revel in physical modifications along with wrinkling of
          the pores and skin, lack of muscle mass, reduced bone density, and changes in imaginative and prescient and listening to. These modifications are a
          reflection of the body's herbal aging procedure.
        </p>
        <p>
          - <strong>Cognitive Changes:</strong> Cognitive competencies, such as memory, attention, and trouble-fixing
          talents, can go through alterations with age. While some cognitive features may additionally decline, others may additionally remain solid
          or even improve.
        </p>
        <p>
          - <strong>Emotional Changes:</strong> Emotional well-being and intellectual fitness can be influenced by using age.
          Individuals may also experience adjustments in temper, coping mechanisms, and resilience as they progress thru
          unique existence degrees.
        </p>
        <p>
          The growing older system is quite individualized, and the rate and extent of those adjustments can range extensively amongst
          people. By exploring the intricacies of the ageing system, we benefit insights into the particular demanding situations
          and possibilities that come with growing older.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="healthy-aging" aria-label="Healthy Aging">
        <h2>Healthy Aging</h2>
        <p>
          Healthy aging is a purpose that many individuals aspire to reap as they get older. It entails making
          life-style alternatives and adopting behavior that sell bodily, mental, and emotional nicely-being in later tiers
          of life. Understanding the standards of healthy growing old empowers individuals to age gracefully and maintain
          their exceptional of lifestyles.
        </p>
        <p>
          - <strong>Tips for Healthy Aging:</strong> Provide practical recommendation on a way to promote healthy getting older. Discuss
          the importance of a balanced food regimen, normal workout, adequate sleep, and stress control in preserving
          overall health.
        </p>
        <p>
          - <strong>Preventing Age-Related Conditions:</strong> Explore strategies for stopping common age-associated
          fitness conditions such as heart ailment, diabetes, osteoporosis, and cognitive decline. Highlight the
          significance of ordinary test-u.S.And screenings.
        </p>
        <p>
          By embracing wholesome ageing practices, individuals can enhance their durability and enjoy a better excellent of
          life as they age. This phase affords treasured insights into the steps that may be taken to age with
          vitality and resilience.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="age-in-different-cultures" aria-label="Age in Different Cultures">
        <h2>Age in Different Cultures</h2>
        <p>
          Age is a idea this is perceived and valued in a different way throughout diverse cultures and societies. Cultural
          views on age affect how individuals are dealt with, the roles they anticipate, and the rituals and
          traditions related to extraordinary lifestyles tiers.
        </p>
        <p>
          - <strong>Cultural Perceptions:</strong> Explore how age is perceived and valued in distinct cultures around
          the arena. Discuss cultural attitudes in the direction of teenagers, middle age, and antique age.
        </p>
        <p>
          - <strong>Traditions and Celebrations:</strong> Highlight cultural practices associated with age, consisting of
          coming-of-age ceremonies, rites of passage, and rituals related to growing old, along with milestone birthdays and
          elder appreciation.
        </p>
        <p>
          Understanding the cultural dimensions of age presents insights into the variety of human studies and the
          methods wherein age shapes identity and social roles. This segment offers a glimpse into the wealthy tapestry of
          cultural views on age.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="age-and-society" aria-label="Age and Society">
        <h2>Age and Society</h2>
        <p>
          Age performs a huge role in shaping societal structures, norms, and rules. It impacts how
          people are perceived, the jobs they occupy, and the opportunities and challenges they encounter in
          diverse levels of life. Examining the connection among age and society gives insights into the dynamics
          of human communities.
        </p>
        <p>
          - <strong>Ageism:</strong> Address the difficulty of ageism, which refers to discrimination or prejudice against
          humans of a sure age group. Discuss how ageism can impact people' get right of entry to to opportunities and their
          average properly-being.
        </p>
        <p>
          - <strong>Age-Related Policies:</strong> Discuss how governments and societies handle age-associated rules,
          including retirement, healthcare, and social offerings. Explore the consequences of an ageing population on
          coverage development.
        </p>
        <p>
          Age is a societal assemble that intersects with numerous components of human lifestyles. Understanding its position in
          shaping societal attitudes and regulations is essential for promoting inclusivity and equity across generations.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="statistics-and-demographics" aria-label="Statistics and Demographics">
        <h2>Statistics and Demographics</h2>
        <p>
          Age-associated information and demographics offer treasured insights into the composition of populations and the
          dynamics of human societies. They offer data on the distribution of age groups, existence expectancy, and the
          implications of an growing old populace for numerous sectors.
        </p>
        <p>
          - <strong>Aging Population:</strong> Present records on the global growing old population, along with tendencies and
          projections. Discuss how an growing percentage of older adults can impact healthcare, social offerings, and
          the financial system.
        </p>
        <p>
          - <strong>Life Expectancy:</strong> Explain how life expectancy has elevated over the years because of advances in
          healthcare and living situations. Highlight the implications of longer existence spans for people and
          societies.
        </p>
        <p>
          Age-related facts provide a complete view of the demographic landscape. By inspecting population developments
          and age-associated information, we gain a deeper know-how of the challenges and possibilities presented through moving
          demographics.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="theories-of-aging" aria-label="Theories of Aging">
        <h2>Theories of Aging</h2>
        <p>
          Understanding the system of growing old has led to the development of various theories that are trying to find to give an explanation for why and
          how humans age. These theories encompass biological, mental, and sociological perspectives, dropping
          mild at the multifaceted nature of the aging method.
        </p>
        <p>
          - <strong>Biological Theories:</strong> Briefly introduce biological theories of growing older, along with the Hayflick
          limit, which indicates that cells have a finite potential to divide, and the unfastened radical idea, which posits
          that oxidative harm contributes to getting older.
        </p>
        <p>
          - <strong>Psychosocial Theories:</strong> Discuss psychosocial theories like Erikson's ranges of development,
          which describe how individuals navigate various psychosocial challenges and crises across the lifespan.
        </p>
        <p>
          Exploring those theories presents precious insights into the complicated and dynamic nature of the aging system.
          It invitations us to bear in mind the interaction among biological, psychological, and societal elements in shaping how
          we age.
        </p>
      </section>
    </app-conent-card>
    <app-conent-card>
      <section id="conclusion-and-future-perspective" aria-label="Conclusion and Future Perspective">
        <h2>Conclusion and Future Perspective</h2>
        <p>
          Age is a multifaceted idea that influences each thing of human lifestyles. From organic adjustments to cultural
          perceptions, age shapes our studies and identities. As our understanding of age keeps to evolve, it
          opens up new possibilities and demanding situations for people and societies.
        </p>
        <p>
          In this exploration of age, we have delved into its diverse dimensions, along with the styles of age, factors
          influencing getting old, the growing older procedure, and its effect on people and societies. We've also examined
          theories of ageing and the function of age in shaping societies and policies.
        </p>
        <p>
          Looking beforehand, age remains a dynamic and ever-relevant topic. The demanding situations and possibilities presented by using an
          growing old populace, the pursuit of wholesome growing older practices, and the combat against ageism are the various pressing
          problems we face inside the future.
        </p>
        <p>
          Whether you are interested in the technological know-how of getting old, the cultural factors of age, or the societal implications
          of demographic shifts, age is a subject that invitations exploration and discovery. As we maintain to resolve the
          mysteries of age, we advantage deeper insights into the wealthy tapestry of human lifestyles.
        </p>
      </section>
    </app-conent-card>


  </div>
</div>