<div class="x-container">
  <h1>Encoding and Decoding</h1>
  <div class="input-container">
  </div>
  <div class="container">

    <app-in-out-text-boxes #boxes [result]="text" [storageKey]="storageKey"
      (onChangeEmitter)="setOriginalText($event)"></app-in-out-text-boxes>
    <div class="buttons" role="group" aria-labelledby="conversionInstructions">
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'url-encode']">
        <button class="btn-theme" [class.selected]="executeFn === urlEncode" (click)="boxes.focus();onSelect(urlEncode)"
          aria-label="URL Encoder">URL Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'url-decode']">
        <button class="btn-theme" [class.selected]="executeFn === urlDecode" (click)="boxes.focus();onSelect(urlDecode)"
          aria-label="URL Decoder">URL Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'html-encode']">
        <button class="btn-theme" [class.selected]="executeFn === htmlEncode"
          (click)="boxes.focus();onSelect(htmlEncode)" aria-label="HTML Encoder">HTML Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'html-decode']">
        <button class="btn-theme" [class.selected]="executeFn === htmlDecode"
          (click)="boxes.focus();onSelect(htmlDecode)" aria-label="HTML Decoder">HTML Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'rot13']">
        <button class="btn-theme" [class.selected]="executeFn === rot13" (click)="boxes.focus();onSelect(rot13)"
          aria-label="ROT13">ROT13</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'rot47']">
        <button class="btn-theme" [class.selected]="executeFn === rot47" (click)="boxes.focus();onSelect(rot47)"
          aria-label="ROT47">ROT47</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'punycode-encode']">
        <button class="btn-theme" [class.selected]="executeFn === punycodeEncode"
          (click)="boxes.focus();onSelect(punycodeEncode)" aria-label="Punycode Encoder">Punycode Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'punycode-decode']">
        <button class="btn-theme" [class.selected]="executeFn === punycodeDecode"
          (click)="boxes.focus();onSelect(punycodeDecode)" aria-label="Punycode Decoder">Punycode Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'utf8-encode']">
        <button class="btn-theme" [class.selected]="executeFn === utf8Encode"
          (click)="boxes.focus();onSelect(utf8Encode)" aria-label="UTF-8 Encoder">UTF-8 Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'utf8-decode']">
        <button class="btn-theme" [class.selected]="executeFn === utf8Decode"
          (click)="boxes.focus();onSelect(utf8Decode)" aria-label="UTF-8 Decoder">UTF-8 Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'utf16-encode']">
        <button class="btn-theme" [class.selected]="executeFn === utf16Encode"
          (click)="boxes.focus();onSelect(utf16Encode)" aria-label="UTF-16 Encoder">UTF-16 Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'utf16-decode']">
        <button class="btn-theme" [class.selected]="executeFn === utf16Decode"
          (click)="boxes.focus();onSelect(utf16Decode)" aria-label="UTF-16 Decoder">UTF-16 Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'base64-encode']">
        <button class="btn-theme" [class.selected]="executeFn === base64Encode"
          (click)="boxes.focus();onSelect(base64Encode)" aria-label="Base64 Encoder">Base64 Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'base64-decode']">
        <button class="btn-theme" [class.selected]="executeFn === base64Decode"
          (click)="boxes.focus();onSelect(base64Decode)" aria-label="Base64 Decoder">Base64 Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'morse-encode']">
        <button class="btn-theme" [class.selected]="executeFn === morseCodeEncode"
          (click)="boxes.focus();onSelect(morseCodeEncode)" aria-label="Morse Encoder">Morse Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'morse-decode']">
        <button class="btn-theme" [class.selected]="executeFn === morseCodeDecode"
          (click)="boxes.focus();onSelect(morseCodeDecode)" aria-label="Morse Decoder">Morse Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'bcd-encode']">
        <button class="btn-theme" [class.selected]="executeFn === bcdEncode" (click)="boxes.focus();onSelect(bcdEncode)"
          title="Binary Coded Decimal" aria-label="BCD Encoder">BCD Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'bcd-decode']">
        <button class="btn-theme" [class.selected]="executeFn === bcdDecode" (click)="boxes.focus();onSelect(bcdDecode)"
          title="Binary Coded Decimal" aria-label="BCD Decoder">BCD Decoder</button>
      </a>

    </div>
    <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="text"></app-result-actions-btn>
  </div>
</div>

<ng-container *ngIf="isRoot">

  <app-conent-card [showAdd]="true">
    <h2>Encode & Decode Tools</h2>

    <p>Explore a range of tools designed to encode and decode textual content for numerous codecs. Whether you want to safely
      constitute URLs, encode unique characters for HTML, or carry out intriguing encoding techniques like ROT13 and
      Base64, those tools provide sensible answers.</p>

    <p>Discover the subsequent Encode & Decode equipment:</p>

    <ul>
      <li>
        <strong>URL Encode</strong>: Convert unique characters into URL-secure format for steady transmission.
      </li>
      <li>
        <strong>URL Decode</strong>: Reverse the method of URL encoding to retrieve the authentic textual content.
      </li>
      <li>
        <strong>HTML Encode</strong>: Encode special characters to HTML entities for secure rendering on net pages.
      </li>
      <li>
        <strong>HTML Decode</strong>: Decode HTML entities lower back into their original characters.
      </li>
      <li>
        <strong>ROT13</strong>: Perform a easy letter substitution method to encode and decode text.
      </li>
      <li>
        <strong>ROT47</strong>: Similar to ROT13, however with a bigger man or woman set for more advanced encoding.
      </li>
      <li>
        <strong>Punycode Encode</strong>: Encode Unicode characters into Punycode to be used in Internationalized Domain
        Names (IDNs).
      </li>
      <li>
        <strong>Punycode Decode</strong>: Decode Punycode lower back to Unicode characters.
      </li>
      <li>
        <strong>UTF-eight Encode</strong>: Encode characters into UTF-eight encoding, a variable-duration individual encoding.
      </li>
      <li>
        <strong>UTF-eight Decode</strong>: Decode UTF-8 encoded text back into its authentic characters.
      </li>
      <li>
        <strong>UTF-16 Encode</strong>: Encode characters into UTF-sixteen encoding, any other variable-length individual
        encoding.
      </li>
      <li>
        <strong>UTF-16 Decode</strong>: Decode UTF-16 encoded textual content returned into its authentic characters.
      </li>
      <li>
        <strong>Base64 Encode</strong>: Encode binary information right into a human-readable format for diverse applications.
      </li>
      <li>
        <strong>Base64 Decode</strong>: Decode Base64-encoded text back into its original binary facts.
      </li>
      <li>
        <strong>Morse Encode</strong>: Encode textual content into Morse code, a chain of dots and dashes for communication.
      </li>
      <li>
        <strong>Morse Decode</strong>: Decode Morse code lower back into readable text.
      </li>
      <li>
        <strong>BCD Encode</strong>: Encode decimal numbers into Binary-Coded Decimal (BCD) layout.
      </li>
      <li>
        <strong>BCD Decode</strong>: Decode BCD-encoded numbers back into their decimal representation.
      </li>
    </ul>

    <p>Stay tuned for complete guides on efficaciously the usage of every Encode & Decode tool, along with realistic examples
      showcasing their importance in diverse encoding and deciphering scenarios.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>URL Encode</h3>

    <p>The URL Encode tool is a handy utility that lets in you to encode unique characters and non-ASCII characters in a
      URL-friendly layout. This is in particular beneficial while passing facts thru URLs, making sure that the information remains
      intact and like minded throughout special structures.</p>

    <p>URLs have limitations at the characters they are able to include. The URL Encode technique replaces characters that are not
      URL-secure with their corresponding percent-encoded values. This transformation guarantees that URLs are valid and might
      be
      nicely interpreted by means of browsers and net servers.</p>

    <p>Stay tuned as we provide a detailed guide on how to use the URL Encode device successfully, in conjunction with examples of
      eventualities where it could show critical.</p>

  </app-conent-card>

  <app-conent-card>

    <h3>URL Decode</h3>

    <p>The URL Decode tool is designed to reverse the encoding manner executed by way of URL Encode. It permits you to decode
      percentage-encoded characters in a URL, restoring the unique textual content. This is essential for retrieving statistics that has
      been
      encoded for transmission thru URLs.</p>

    <p>When records is surpassed thru URLs, certain characters are encoded to ensure safe transmission. The URL
      Decode
      technique reverses this encoding, making the facts readable and usable again.</p>

    <p>Stay tuned for an in-intensity manual on the way to use the URL Decode device efficiently, at the side of actual-international examples to
      illustrate its importance.</p>
  </app-conent-card>
  <app-conent-card>

    <h3>HTML Encode</h3>

    <p>The HTML Encode device permits you to encode unique characters and emblems in a format that's well suited with HTML.
      It's critical for displaying content with reserved characters and making sure that HTML markup remains intact when
      rendered in internet browsers.</p>

    <p>HTML uses precise codes, called entities, to represent characters which have special meanings in HTML syntax.
      The
      HTML Encode approach replaces those characters with their corresponding HTML entities, stopping unintentional
      rendering
      and capacity security vulnerabilities.</p>

    <p>Stay tuned for a complete guide on successfully using the HTML Encode device, complete with realistic examples
      showcasing its significance in keeping proper HTML rendering.</p>
  </app-conent-card>

  <app-conent-card>
    <h3>HTML Decode</h3>

    <p>The HTML Decode device reverses the encoding method completed by HTML Encode. It's used to decode HTML entities
      back into their unique characters. This is important for retaining the integrity of your content and ensuring
      that special characters are correctly displayed in net browsers.</p>

    <p>HTML entities are codes used to symbolize reserved characters and symbols in HTML. The HTML Decode approach
      translates these entities back into their corresponding characters, permitting your content to be as it should be
      rendered and understood by means of customers.</p>

    <p>Stay tuned for a complete guide on efficaciously using the HTML Decode tool, accompanied via sensible examples
      highlighting its importance in proper HTML rendering.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>ROT13</h3>

    <p>The ROT13 (Rotate by way of 13 places) tool is a simple letter substitution cipher that shifts every letter with the aid of 13
      positions in the alphabet. It's a form of encryption often used for fundamental obfuscation and is effortlessly reversible via
      making use of the identical ROT13 transformation once more.</p>

    <p>ROT13 is a symmetric cipher, which means the equal transformation can be used for both encoding and decoding. It's
      commonly used for hiding text spoilers or jokes in online communities.</p>

    <p>Stay tuned for a comprehensive guide on successfully the use of the ROT13 device, along with examples of its utility
      and eventualities where it's beneficial.</p>

  </app-conent-card>


  <app-conent-card [showAdd]="true">
    <h3>ROT47</h3>

    <p>The ROT47 tool is a variation of the ROT13 cipher that increases the rotation value to 47. Similar to ROT13, ROT47
      is a easy letter substitution cipher that shifts each individual by way of forty seven positions inside the ASCII person set.</p>

    <p>While ROT47 provides a barely more potent stage of obfuscation in comparison to ROT13, it's important to be aware that each
      methods are reversible and now not suitable for sturdy encryption. ROT47 is regularly used for hiding text in a manner that
      is simple for people to decode but much less apparent to automatic tools.</p>

    <p>Stay tuned for a comprehensive guide on efficaciously using the ROT47 tool, whole with examples of its
      application and contexts where it may be useful.</p>

  </app-conent-card>

  <app-conent-card>
    <h3>Punycode Encode</h3>

    <p>The Punycode Encode tool is used to transform non-ASCII characters, which include the ones in international domains,
      into a format that may be utilized in domain names known as Punycode. This transformation is vital for representing
      domains containing non-Latin characters in a standardized and well suited way.</p>

    <p>Internationalized Domain Names (IDNs) permit web sites to use domains in various languages and scripts.
      Punycode is a manner to symbolize Unicode characters using best ASCII characters and numbers, ensuring compatibility
      with present area call structures.</p>

    <p>Stay tuned for a complete guide on efficiently using the Punycode Encode device, in conjunction with real-global
      examples showcasing its importance for internationalized internet addresses.</p>

  </app-conent-card>

  <app-conent-card>
    <h3>Punycode Decode</h3>

    <p>The Punycode Decode device is designed to opposite the encoding manner performed via Punycode Encode. It's used to
      convert Punycode-encoded domain names returned into their original Unicode characters, allowing for correct
      illustration of internationalized domains (IDNs).</p>

    <p>When domains comprise non-ASCII characters, they may be encoded using Punycode to ensure compatibility with
      current domain structures. The Punycode Decode approach reverses this encoding, permitting customers to look and apprehend
      the domain names of their original language and script.</p>

    <p>Stay tuned for an informative manual on efficaciously the use of the Punycode Decode device, accompanied by practical
      examples highlighting its significance in showing accurate internationalized internet addresses.</p>

  </app-conent-card>

  <app-conent-card>
    <h3>UTF-8 Encode</h3>

    <p>The UTF-8 Encode device is used to symbolize characters from numerous languages and scripts in a layout like minded
      with the UTF-8 person encoding. UTF-eight is a widely used character encoding which could represent genuinely all
      characters in the Unicode general, making it appropriate for multilingual content material on the web.</p>

    <p>UTF-8 encoding assigns a completely unique series of bytes to every character, allowing text to be stored and transmitted
      in a manner that preserves its original meaning across distinctive structures and structures.</p>

    <p>Stay tuned for an informative manual on efficiently the usage of the UTF-8 Encode device, at the side of examples highlighting
      its importance in ensuring right display of diverse characters at the net.</p>

  </app-conent-card>

  <app-conent-card [showAdd]="true">
    <h3>UTF-8 Decode</h3>

    <p>The UTF-8 Decode tool is designed to opposite the encoding process carried out via UTF-8 Encode. It's used to convert
      UTF-eight encoded textual content again into its original characters, taking into account accurate illustration of characters from
      various languages and scripts.</p>

    <p>UTF-8 is a widely used man or woman encoding which can represent a sizeable range of characters inside the Unicode wellknown.
      The UTF-8 Decode technique reverses the byte sequences used in encoding, permitting users to peer and recognize the
      unique characters of the text.</p>

    <p>Stay tuned for an informative guide on successfully the use of the UTF-8 Decode device, accompanied via practical examples
      showcasing its importance in correctly rendering diverse characters on the net.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>UTF-sixteen Encode</h3>

    <p>The UTF-16 Encode device is used to symbolize characters from various languages and scripts in a layout compatible
      with the UTF-16 character encoding. UTF-16 is every other extensively used man or woman encoding which can represent characters
      from the Unicode popular, making it appropriate for multilingual content material.</p>

    <p>UTF-16 encoding assigns a completely unique collection of 16-bit units (words) to each man or woman, allowing textual content to be saved
      and transmitted in a way that preserves its original which means across specific systems and structures.</p>

    <p>Stay tuned for an informative guide on effectively the usage of the UTF-sixteen Encode device, along with examples highlighting
      its importance in making sure proper display of numerous characters at the net.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>UTF-16 Decode</h3>

    <p>The UTF-16 Decode device is designed to opposite the encoding technique performed via UTF-16 Encode. It's used to
      convert UTF-sixteen encoded textual content back into its original characters, bearing in mind accurate illustration of characters
      from numerous languages and scripts.</p>

    <p>UTF-sixteen is a character encoding that may represent a extensive variety of characters within the Unicode standard. The UTF-16
      Decode approach reverses the encoding scheme, permitting customers to see and apprehend the unique characters of the
      textual content.</p>

    <p>Stay tuned for an informative manual on successfully using the UTF-sixteen Decode device, followed through sensible
      examples showcasing its significance in correctly rendering various characters at the web.</p>

  </app-conent-card>



  <app-conent-card>
    <h3>Base64 Encode</h3>

    <p>The Base64 Encode tool is used to convert binary or text data right into a format known as Base64 encoding. This
      encoding is usually used to represent binary statistics, together with pix or documents, in a secure and textual content-pleasant layout
      that can be without problems transmitted over text-based totally protocols.</p>

    <p>Base64 encoding converts every set of three bytes (24 bits) of input facts into four ASCII characters. This permits binary
      information to be represented the use of a limited set of text characters, making it appropriate for eventualities in which binary records
      needs to be covered in textual content-based files or communications.</p>

    <p>Stay tuned for an informative manual on effectively the use of the Base64 Encode device, accompanied by practical
      examples highlighting its significance in encoding binary records for diverse packages.</p>

  </app-conent-card>



  <app-conent-card>
    <h3>Base64 Decode</h3>

    <p>The Base64 Decode tool is designed to opposite the encoding manner accomplished via Base64 Encode. It's used to
      convert Base64-encoded records lower back into its original binary or text layout.</p>

    <p>Base64 encoding converts binary statistics right into a format that includes a restricted set of textual content characters, making it
      appropriate for inclusion in text-primarily based files or communications. The Base64 Decode method reverses this encoding,
      allowing users to retrieve the authentic binary records or text from the encoded illustration.</p>

    <p>Stay tuned for an informative guide on efficiently the usage of the Base64 Decode device, observed with the aid of sensible
      examples showcasing its importance in deciphering Base64-encoded records for various programs.</p>

  </app-conent-card>



  <app-conent-card>
    <h3>Morse Code Encode</h3>

    <p>The Morse Code Encode device is used to transform textual content into Morse code, a binary encoding scheme that represents
      characters the use of dots and dashes. Morse code turned into historically used for telecommunication and remains famous
      among beginner radio operators and lovers.</p>

    <p>In Morse code, every individual is represented via a completely unique aggregate of brief and long alerts, generally referred
      to as dots and dashes. The Morse Code Encode device takes enter text and transforms it into its corresponding Morse
      code representation.</p>

    <p>Stay tuned for an informative manual on successfully the usage of the Morse Code Encode device, along with examples
      showcasing its ancient significance and the way it is able to be used for conversation in contemporary times.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>Morse Code Decode</h3>

    <p>The Morse Code Decode device is designed to opposite the encoding technique finished by way of the Morse Code Encode tool.
      It's used to convert Morse code back into readable text, allowing customers to interpret messages encoded the use of dots
      and dashes.</p>

    <p>Morse code is a binary encoding scheme in which characters are represented using sequences of dots (brief alerts)
      and dashes (long indicators). The Morse Code Decode approach interprets those sequences again into their original textual content
      form.</p>

    <p>Stay tuned for an informative manual on effectively the use of the Morse Code Decode device, followed through practical
      examples showcasing its significance in interpreting Morse code messages for numerous applications.</p>

  </app-conent-card>



  <app-conent-card>
    <h3>BCD Encode</h3>

    <p>The Binary-Coded Decimal (BCD) Encode device is used to symbolize decimal numbers in binary-coded decimal layout.
      BCD is a binary representation of each digit in a decimal wide variety, making it suitable for diverse computing and
      electronic applications that require accurate decimal illustration.</p>

    <p>In BCD encoding, each decimal digit (zero-nine) is represented through its four-bit binary equal. This encoding approach is
      often used in virtual presentations, calculators, and different gadgets wherein decimal precision is critical.</p>

    <p>Stay tuned for an informative manual on effectively the usage of the BCD Encode tool, along with examples highlighting
      its importance in appropriately representing decimal values in binary layout.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>BCD Decode</h3>

    <p>The Binary-Coded Decimal (BCD) Decode device is designed to reverse the encoding manner carried out via the BCD
      Encode device. It's used to transform binary-coded decimal values lower back into their original decimal illustration.</p>

    <p>BCD encoding is a technique of representing decimal numbers using their binary equivalents for every digit. The BCD
      Decode method translates these binary-encoded digits again into their original decimal values.</p>

    <p>Stay tuned for an informative manual on efficiently using the BCD Decode tool, observed through realistic examples
      showcasing its importance in deciphering BCD-encoded numbers for various programs.</p>

  </app-conent-card>

</ng-container>

<app-conent-card *ngIf="!isRoot">
  <div [innerHTML]="desccription"></div>
</app-conent-card>