<div class="x-container">
  <h1>Encoding and Decoding</h1>
  <div class="container">
    <app-in-out-text-boxes #boxes [result]="text" [storageKey]="storageKey"
      (onChangeEmitter)="setOriginalText($event)"></app-in-out-text-boxes>
    <div class="buttons" role="group" aria-labelledby="conversionInstructions">
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'url-encode']">
        <button class="btn-theme" [class.selected]="executeFn === urlEncode" (click)="boxes.focus();onSelect(urlEncode)"
          aria-label="URL Encoder">URL Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'url-decode']">
        <button class="btn-theme" [class.selected]="executeFn === urlDecode" (click)="boxes.focus();onSelect(urlDecode)"
          aria-label="URL Decoder">URL Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'html-encode']">
        <button class="btn-theme" [class.selected]="executeFn === htmlEncode"
          (click)="boxes.focus();onSelect(htmlEncode)" aria-label="HTML Encoder">HTML Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'html-decode']">
        <button class="btn-theme" [class.selected]="executeFn === htmlDecode"
          (click)="boxes.focus();onSelect(htmlDecode)" aria-label="HTML Decoder">HTML Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'rot13']">
        <button class="btn-theme" [class.selected]="executeFn === rot13" (click)="boxes.focus();onSelect(rot13)"
          aria-label="ROT13">ROT13</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'rot47']">
        <button class="btn-theme" [class.selected]="executeFn === rot47" (click)="boxes.focus();onSelect(rot47)"
          aria-label="ROT47">ROT47</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'punycode-encode']">
        <button class="btn-theme" [class.selected]="executeFn === punycodeEncode"
          (click)="boxes.focus();onSelect(punycodeEncode)" aria-label="Punycode Encoder">Punycode Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'punycode-decode']">
        <button class="btn-theme" [class.selected]="executeFn === punycodeDecode"
          (click)="boxes.focus();onSelect(punycodeDecode)" aria-label="Punycode Decoder">Punycode Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'utf8-encode']">
        <button class="btn-theme" [class.selected]="executeFn === utf8Encode"
          (click)="boxes.focus();onSelect(utf8Encode)" aria-label="UTF-8 Encoder">UTF-8 Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'utf8-decode']">
        <button class="btn-theme" [class.selected]="executeFn === utf8Decode"
          (click)="boxes.focus();onSelect(utf8Decode)" aria-label="UTF-8 Decoder">UTF-8 Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'utf16-encode']">
        <button class="btn-theme" [class.selected]="executeFn === utf16Encode"
          (click)="boxes.focus();onSelect(utf16Encode)" aria-label="UTF-16 Encoder">UTF-16 Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'utf16-decode']">
        <button class="btn-theme" [class.selected]="executeFn === utf16Decode"
          (click)="boxes.focus();onSelect(utf16Decode)" aria-label="UTF-16 Decoder">UTF-16 Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'base64-encode']">
        <button class="btn-theme" [class.selected]="executeFn === base64Encode"
          (click)="boxes.focus();onSelect(base64Encode)" aria-label="Base64 Encoder">Base64 Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'base64-decode']">
        <button class="btn-theme" [class.selected]="executeFn === base64Decode"
          (click)="boxes.focus();onSelect(base64Decode)" aria-label="Base64 Decoder">Base64 Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'morse-encode']">
        <button class="btn-theme" [class.selected]="executeFn === morseCodeEncode"
          (click)="boxes.focus();onSelect(morseCodeEncode)" aria-label="Morse Encoder">Morse Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'morse-decode']">
        <button class="btn-theme" [class.selected]="executeFn === morseCodeDecode"
          (click)="boxes.focus();onSelect(morseCodeDecode)" aria-label="Morse Decoder">Morse Decoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'bcd-encode']">
        <button class="btn-theme" [class.selected]="executeFn === bcdEncode" (click)="boxes.focus();onSelect(bcdEncode)"
          title="Binary Coded Decimal" aria-label="BCD Encoder">BCD Encoder</button>
      </a>
      <a replaceUrl [routerLink]="['/', 'programming-tools','encode-decode', 'bcd-decode']">
        <button class="btn-theme" [class.selected]="executeFn === bcdDecode" (click)="boxes.focus();onSelect(bcdDecode)"
          title="Binary Coded Decimal" aria-label="BCD Decoder">BCD Decoder</button>
      </a>

    </div>
    <app-result-actions-btn (onClear)="clearTextArea();boxes.clear()" [text]="text"></app-result-actions-btn>
  </div>
</div>

<ng-container *ngIf="isRoot">

  <app-conent-card [showAdd]="true">
    <h2>Encode & Decode Tools</h2>

    <p>Explore a range of tools designed to encode and decode text for various formats. Whether you need to safely
      represent URLs, encode special characters for HTML, or perform intriguing encoding techniques like ROT13 and
      Base64, these tools provide practical solutions.</p>

    <p>Discover the following Encode & Decode tools:</p>

    <ul>
      <li>
        <strong>URL Encode</strong>: Convert special characters into URL-safe format for secure transmission.
      </li>
      <li>
        <strong>URL Decode</strong>: Reverse the process of URL encoding to retrieve the original text.
      </li>
      <li>
        <strong>HTML Encode</strong>: Encode special characters to HTML entities for safe rendering on web pages.
      </li>
      <li>
        <strong>HTML Decode</strong>: Decode HTML entities back into their original characters.
      </li>
      <li>
        <strong>ROT13</strong>: Perform a simple letter substitution technique to encode and decode text.
      </li>
      <li>
        <strong>ROT47</strong>: Similar to ROT13, but with a larger character set for more advanced encoding.
      </li>
      <li>
        <strong>Punycode Encode</strong>: Encode Unicode characters into Punycode for use in Internationalized Domain
        Names (IDNs).
      </li>
      <li>
        <strong>Punycode Decode</strong>: Decode Punycode back to Unicode characters.
      </li>
      <li>
        <strong>UTF-8 Encode</strong>: Encode characters into UTF-8 encoding, a variable-length character encoding.
      </li>
      <li>
        <strong>UTF-8 Decode</strong>: Decode UTF-8 encoded text back into its original characters.
      </li>
      <li>
        <strong>UTF-16 Encode</strong>: Encode characters into UTF-16 encoding, another variable-length character
        encoding.
      </li>
      <li>
        <strong>UTF-16 Decode</strong>: Decode UTF-16 encoded text back into its original characters.
      </li>
      <li>
        <strong>Base64 Encode</strong>: Encode binary data into a human-readable format for various applications.
      </li>
      <li>
        <strong>Base64 Decode</strong>: Decode Base64-encoded text back into its original binary data.
      </li>
      <li>
        <strong>Morse Encode</strong>: Encode text into Morse code, a series of dots and dashes for communication.
      </li>
      <li>
        <strong>Morse Decode</strong>: Decode Morse code back into readable text.
      </li>
      <li>
        <strong>BCD Encode</strong>: Encode decimal numbers into Binary-Coded Decimal (BCD) format.
      </li>
      <li>
        <strong>BCD Decode</strong>: Decode BCD-encoded numbers back into their decimal representation.
      </li>
    </ul>

    <p>Stay tuned for comprehensive guides on effectively using each Encode & Decode tool, along with practical examples
      showcasing their significance in various encoding and decoding scenarios.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>URL Encode</h3>

    <p>The URL Encode tool is a handy utility that allows you to encode special characters and non-ASCII characters in a
      URL-friendly format. This is particularly useful when passing data through URLs, ensuring that the data remains
      intact and compatible across different systems.</p>

    <p>URLs have limitations on the characters they can include. The URL Encode method replaces characters that are not
      URL-safe with their corresponding percent-encoded values. This transformation ensures that URLs are valid and can
      be
      properly interpreted by browsers and web servers.</p>

    <p>Stay tuned as we provide a detailed guide on how to use the URL Encode tool effectively, along with examples of
      scenarios where it can prove essential.</p>

  </app-conent-card>

  <app-conent-card>

    <h3>URL Decode</h3>

    <p>The URL Decode tool is designed to reverse the encoding process performed by URL Encode. It allows you to decode
      percent-encoded characters in a URL, restoring the original text. This is crucial for retrieving data that has
      been
      encoded for transmission through URLs.</p>

    <p>When information is passed through URLs, certain characters are encoded to ensure safe transmission. The URL
      Decode
      method reverses this encoding, making the data readable and usable again.</p>

    <p>Stay tuned for an in-depth guide on how to use the URL Decode tool effectively, along with real-world examples to
      illustrate its significance.</p>
  </app-conent-card>
  <app-conent-card>

    <h3>HTML Encode</h3>

    <p>The HTML Encode tool allows you to encode special characters and symbols in a format that's compatible with HTML.
      It's essential for displaying content with reserved characters and ensuring that HTML markup remains intact when
      rendered in web browsers.</p>

    <p>HTML uses specific codes, known as entities, to represent characters that have special meanings in HTML syntax.
      The
      HTML Encode method replaces these characters with their corresponding HTML entities, preventing unintended
      rendering
      and potential security vulnerabilities.</p>

    <p>Stay tuned for a comprehensive guide on effectively using the HTML Encode tool, complete with practical examples
      showcasing its importance in maintaining proper HTML rendering.</p>
  </app-conent-card>

  <app-conent-card>
    <h3>HTML Decode</h3>

    <p>The HTML Decode tool reverses the encoding process performed by HTML Encode. It's used to decode HTML entities
      back into their original characters. This is crucial for maintaining the integrity of your content and ensuring
      that special characters are correctly displayed in web browsers.</p>

    <p>HTML entities are codes used to represent reserved characters and symbols in HTML. The HTML Decode method
      translates these entities back into their corresponding characters, allowing your content to be accurately
      rendered and understood by users.</p>

    <p>Stay tuned for a comprehensive guide on effectively using the HTML Decode tool, accompanied by practical examples
      highlighting its importance in proper HTML rendering.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>ROT13</h3>

    <p>The ROT13 (Rotate by 13 places) tool is a simple letter substitution cipher that shifts each letter by 13
      positions in the alphabet. It's a form of encryption often used for basic obfuscation and is easily reversible by
      applying the same ROT13 transformation again.</p>

    <p>ROT13 is a symmetric cipher, meaning the same transformation can be used for both encoding and decoding. It's
      commonly used for hiding text spoilers or jokes in online communities.</p>

    <p>Stay tuned for a comprehensive guide on effectively using the ROT13 tool, including examples of its application
      and scenarios where it's useful.</p>

  </app-conent-card>


  <app-conent-card [showAdd]="true">
    <h3>ROT47</h3>

    <p>The ROT47 tool is a variant of the ROT13 cipher that increases the rotation value to 47. Similar to ROT13, ROT47
      is a simple letter substitution cipher that shifts each character by 47 positions in the ASCII character set.</p>

    <p>While ROT47 provides a slightly stronger level of obfuscation compared to ROT13, it's important to note that both
      methods are reversible and not suitable for strong encryption. ROT47 is often used for hiding text in a way that
      is easy for humans to decode but less obvious to automated tools.</p>

    <p>Stay tuned for a comprehensive guide on effectively using the ROT47 tool, complete with examples of its
      application and contexts where it can be beneficial.</p>

  </app-conent-card>

  <app-conent-card>
    <h3>Punycode Encode</h3>

    <p>The Punycode Encode tool is used to convert non-ASCII characters, such as those in international domain names,
      into a format that can be used in domain names called Punycode. This transformation is essential for representing
      domain names containing non-Latin characters in a standardized and compatible manner.</p>

    <p>Internationalized Domain Names (IDNs) allow websites to use domain names in various languages and scripts.
      Punycode is a way to represent Unicode characters using only ASCII characters and numbers, ensuring compatibility
      with existing domain name systems.</p>

    <p>Stay tuned for a comprehensive guide on effectively using the Punycode Encode tool, along with real-world
      examples showcasing its importance for internationalized web addresses.</p>

  </app-conent-card>

  <app-conent-card>
    <h3>Punycode Decode</h3>

    <p>The Punycode Decode tool is designed to reverse the encoding process performed by Punycode Encode. It's used to
      convert Punycode-encoded domain names back into their original Unicode characters, allowing for accurate
      representation of internationalized domain names (IDNs).</p>

    <p>When domain names contain non-ASCII characters, they are encoded using Punycode to ensure compatibility with
      existing domain systems. The Punycode Decode method reverses this encoding, allowing users to see and understand
      the domain names in their original language and script.</p>

    <p>Stay tuned for an informative guide on effectively using the Punycode Decode tool, accompanied by practical
      examples highlighting its significance in displaying accurate internationalized web addresses.</p>

  </app-conent-card>

  <app-conent-card>
    <h3>UTF-8 Encode</h3>

    <p>The UTF-8 Encode tool is used to represent characters from various languages and scripts in a format compatible
      with the UTF-8 character encoding. UTF-8 is a widely used character encoding that can represent virtually all
      characters in the Unicode standard, making it suitable for multilingual content on the web.</p>

    <p>UTF-8 encoding assigns a unique sequence of bytes to each character, allowing text to be stored and transmitted
      in a way that preserves its original meaning across different systems and platforms.</p>

    <p>Stay tuned for an informative guide on effectively using the UTF-8 Encode tool, along with examples highlighting
      its importance in ensuring proper display of diverse characters on the web.</p>

  </app-conent-card>

  <app-conent-card [showAdd]="true">
    <h3>UTF-8 Decode</h3>

    <p>The UTF-8 Decode tool is designed to reverse the encoding process performed by UTF-8 Encode. It's used to convert
      UTF-8 encoded text back into its original characters, allowing for accurate representation of characters from
      various languages and scripts.</p>

    <p>UTF-8 is a widely used character encoding that can represent a vast range of characters in the Unicode standard.
      The UTF-8 Decode method reverses the byte sequences used in encoding, allowing users to see and understand the
      original characters of the text.</p>

    <p>Stay tuned for an informative guide on effectively using the UTF-8 Decode tool, accompanied by practical examples
      showcasing its importance in accurately rendering diverse characters on the web.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>UTF-16 Encode</h3>

    <p>The UTF-16 Encode tool is used to represent characters from various languages and scripts in a format compatible
      with the UTF-16 character encoding. UTF-16 is another widely used character encoding that can represent characters
      from the Unicode standard, making it suitable for multilingual content.</p>

    <p>UTF-16 encoding assigns a unique sequence of 16-bit units (words) to each character, allowing text to be stored
      and transmitted in a way that preserves its original meaning across different systems and platforms.</p>

    <p>Stay tuned for an informative guide on effectively using the UTF-16 Encode tool, along with examples highlighting
      its importance in ensuring proper display of diverse characters on the web.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>UTF-16 Decode</h3>

    <p>The UTF-16 Decode tool is designed to reverse the encoding process performed by UTF-16 Encode. It's used to
      convert UTF-16 encoded text back into its original characters, allowing for accurate representation of characters
      from various languages and scripts.</p>

    <p>UTF-16 is a character encoding that can represent a wide range of characters in the Unicode standard. The UTF-16
      Decode method reverses the encoding scheme, allowing users to see and understand the original characters of the
      text.</p>

    <p>Stay tuned for an informative guide on effectively using the UTF-16 Decode tool, accompanied by practical
      examples showcasing its importance in accurately rendering diverse characters on the web.</p>

  </app-conent-card>



  <app-conent-card>
    <h3>Base64 Encode</h3>

    <p>The Base64 Encode tool is used to convert binary or text data into a format known as Base64 encoding. This
      encoding is commonly used to represent binary data, such as images or files, in a safe and text-friendly format
      that can be easily transmitted over text-based protocols.</p>

    <p>Base64 encoding converts each set of 3 bytes (24 bits) of input data into 4 ASCII characters. This allows binary
      data to be represented using a limited set of text characters, making it suitable for scenarios where binary data
      needs to be included in text-based documents or communications.</p>

    <p>Stay tuned for an informative guide on effectively using the Base64 Encode tool, accompanied by practical
      examples highlighting its importance in encoding binary data for various applications.</p>

  </app-conent-card>



  <app-conent-card>
    <h3>Base64 Decode</h3>

    <p>The Base64 Decode tool is designed to reverse the encoding process performed by Base64 Encode. It's used to
      convert Base64-encoded data back into its original binary or text format.</p>

    <p>Base64 encoding converts binary data into a format that consists of a limited set of text characters, making it
      suitable for inclusion in text-based documents or communications. The Base64 Decode method reverses this encoding,
      allowing users to retrieve the original binary data or text from the encoded representation.</p>

    <p>Stay tuned for an informative guide on effectively using the Base64 Decode tool, accompanied by practical
      examples showcasing its importance in decoding Base64-encoded data for various applications.</p>

  </app-conent-card>



  <app-conent-card>
    <h3>Morse Code Encode</h3>

    <p>The Morse Code Encode tool is used to convert text into Morse code, a binary encoding scheme that represents
      characters using dots and dashes. Morse code was historically used for telecommunication and is still popular
      among amateur radio operators and enthusiasts.</p>

    <p>In Morse code, each character is represented by a unique combination of short and long signals, commonly referred
      to as dots and dashes. The Morse Code Encode tool takes input text and transforms it into its corresponding Morse
      code representation.</p>

    <p>Stay tuned for an informative guide on effectively using the Morse Code Encode tool, along with examples
      showcasing its historical significance and how it can be used for communication in modern times.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>Morse Code Decode</h3>

    <p>The Morse Code Decode tool is designed to reverse the encoding process performed by the Morse Code Encode tool.
      It's used to convert Morse code back into readable text, allowing users to interpret messages encoded using dots
      and dashes.</p>

    <p>Morse code is a binary encoding scheme where characters are represented using sequences of dots (short signals)
      and dashes (long signals). The Morse Code Decode method translates these sequences back into their original text
      form.</p>

    <p>Stay tuned for an informative guide on effectively using the Morse Code Decode tool, accompanied by practical
      examples showcasing its importance in decoding Morse code messages for various applications.</p>

  </app-conent-card>



  <app-conent-card>
    <h3>BCD Encode</h3>

    <p>The Binary-Coded Decimal (BCD) Encode tool is used to represent decimal numbers in binary-coded decimal format.
      BCD is a binary representation of each digit in a decimal number, making it suitable for various computing and
      electronic applications that require accurate decimal representation.</p>

    <p>In BCD encoding, each decimal digit (0-9) is represented by its 4-bit binary equivalent. This encoding method is
      often used in digital displays, calculators, and other devices where decimal precision is crucial.</p>

    <p>Stay tuned for an informative guide on effectively using the BCD Encode tool, along with examples highlighting
      its significance in accurately representing decimal values in binary format.</p>

  </app-conent-card>


  <app-conent-card>
    <h3>BCD Decode</h3>

    <p>The Binary-Coded Decimal (BCD) Decode tool is designed to reverse the encoding process performed by the BCD
      Encode tool. It's used to convert binary-coded decimal values back into their original decimal representation.</p>

    <p>BCD encoding is a method of representing decimal numbers using their binary equivalents for each digit. The BCD
      Decode method translates these binary-encoded digits back into their original decimal values.</p>

    <p>Stay tuned for an informative guide on effectively using the BCD Decode tool, accompanied by practical examples
      showcasing its importance in decoding BCD-encoded numbers for various applications.</p>

  </app-conent-card>

</ng-container>

<app-conent-card *ngIf="!isRoot">
  <div [innerHTML]="desccription"></div>
</app-conent-card>