<div class="links-container f-col j-between a-between">
    <div class="links-web" *ngIf="isWebView; else mobileLinksView">
        <div class="active-item" [ngStyle]="{
            'left':(hoverIndexMenu >= 0 && titlesRef.length > hoverIndexMenu)?titlesRef[hoverIndexMenu].left +'px':'0px',
            'width':(hoverIndexMenu >= 0 && titlesRef.length > hoverIndexMenu)?titlesRef[hoverIndexMenu].width +'px':'100px'}"></div>
        <nav class="f-row">
            <div class="parent" *ngFor="let page of pages; let index = index" [class.opened]="openedMenu === index" (mouseenter)="hoverIndexMenu = index;" (mouseleave)="hoverIndexMenu = selectedTypeIndex;">
                <div class="title f-row a-center" #title   (click)="openedMenu = index; $event.stopPropagation()">
                    <img [src]="page.iconSrc" width="20" height="20" alt="">
                    {{page.title}}
                </div>
                <div class="type-container">
                    <div class="triangle"></div>
                    <nav class="list-container">
                        <ul>
                            <li *ngFor="let item of page.items">
                                <a replaceUrl  class="f-row a-center" [routerLink]="['',mainPath,page.path,item.path]"
                                    [routerLinkActive]="['active']">
                                    <img [src]="item.iconSrc" width="18" height="18" alt="">
                                    {{item.title}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </div>
    <ng-template #mobileLinksView>
        <div class="links-mobile f-row j-end">
            <button class="links-list f-row a-center btn-resting c-pointer" aria-label="Text Tools Pages"
            (click)="showLinksModal();$event.stopPropagation()">Calculator List <img class="green-icon" width="32"
            height="32" src="assets/images/modal.svg" alt=""></button>



            <div class="modal" [class.d-none]="!isMobileModalVisible">
                <div class="shadow" [ngStyle]="{'min-height': list_container.offsetHeight +'px'}" >
                    <button class="btn-resting" aria-label="Close modal" (click)="hideLinksModal()" >
                        <img src="assets/images/cancel.svg" width="36" height="36" alt="close modal">
                    </button>
                </div>
                <nav class="list-container" #list_container>
                    <div class="main-title f-row a-center j-center">Calculator List </div>
                    <div class="items-container">
                        <div class="item-container" *ngFor="let page of pages; let index = index">
                            <div class="title f-row a-center" #title   (click)="openedMenu = index; $event.stopPropagation()">
                                <img [src]="page.iconSrc" width="20" height="20" alt="">
                                {{page.title}}
                            </div>
                            <ul >
                                
                            <li *ngFor="let item of page.items">
                                <a replaceUrl  class="f-row a-center" [routerLink]="['',mainPath,page.path,item.path]"
                                [routerLinkActive]="['active']">
                                <img [src]="item.iconSrc" width="18" height="18" alt="">
                                {{item.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </nav>
            </div>
        </div>
    </ng-template>
</div>